<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiangkuang_huoyankuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{68,104}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,15},{68,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,220},{106,104}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{106,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{108,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{108,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,206},{108,94}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{108,94}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{108,82}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{108,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,302},{106,72}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{106,72}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,392},{94,68}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{94,68}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,376},{92,60}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{92,60}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,202},{54,50}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{54,50}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{42,42}}</string>
                <key>offset</key>
                <string>{-36,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{42,42}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,46},{32,34}}</string>
                <key>offset</key>
                <string>{-40,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{32,34}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{86,104}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{86,104}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,114}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{120,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,112},{92,112}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{92,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,102},{98,112}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{98,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{98,112}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{98,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,112},{106,110}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{106,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{108,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{108,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{108,112}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_huoyankuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,202},{106,106}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{106,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiangkuang_huoyankuang.png</string>
            <key>size</key>
            <string>{512,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b010bfd801360905ed19fdddfd57ee8c$</string>
            <key>textureFileName</key>
            <string>effect_touxiangkuang_huoyankuang.png</string>
        </dict>
    </dict>
</plist>
