<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hongbao_fangda_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,120}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hongbao_fangda.png</string>
            <key>size</key>
            <string>{100,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7cb8971d01d1e6bf74531b6a04a21f4$</string>
            <key>textureFileName</key>
            <string>effect_hongbao_fangda.png</string>
        </dict>
    </dict>
</plist>
