<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangbianzhandou_chuan5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>effect_jiangbianzhandou_chuan5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,28}}</string>
                <key>sourceSize</key>
                <string>{67,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangbianzhandou_chuan5.png</string>
            <key>size</key>
            <string>{75,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8a4c7749cd498732fd88e853287cc1$</string>
            <key>textureFileName</key>
            <string>effect_jiangbianzhandou_chuan5.png</string>
        </dict>
    </dict>
</plist>
