<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuangzhan_tkuangkeng_jinkuangx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,91}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{93,91}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuangzhan_tkuangkeng_jinkuangx.png</string>
            <key>size</key>
            <string>{97,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e04673f80239fa5444eddd5b0a842719$</string>
            <key>textureFileName</key>
            <string>effect_kuangzhan_tkuangkeng_jinkuangx.png</string>
        </dict>
    </dict>
</plist>
