<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ssr_icontx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,128},{104,228}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,44},{104,228}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,260}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{122,260}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,476},{76,198}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{76,198}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{78,212}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,54},{78,212}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{94,216}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,49},{94,216}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{96,204}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,60},{96,204}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,584},{100,206}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,57},{100,206}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{102,216}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,51},{102,216}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,676},{104,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>effect_ssr_icontx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{106,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{106,226}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,476},{106,212}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{106,212}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,686},{108,180}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,91},{108,180}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,782},{110,176}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,85},{110,176}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,358},{116,220}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{116,220}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,234},{122,226}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{122,226}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{124,234}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{124,234}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_icontx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{124,252}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{124,252}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ssr_icontx.png</string>
            <key>size</key>
            <string>{512,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69263ffef1122edfb001df04db0acfac$</string>
            <key>textureFileName</key>
            <string>effect_ssr_icontx.png</string>
        </dict>
    </dict>
</plist>
