<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xiangyangguanqia_chuan10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,69}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>effect_xiangyangguanqia_chuan10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{97,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,65}}</string>
                <key>sourceSize</key>
                <string>{97,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xiangyangguanqia_chuan10.png</string>
            <key>size</key>
            <string>{101,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed6de6d2db9e358c16c53948d340c68$</string>
            <key>textureFileName</key>
            <string>effect_xiangyangguanqia_chuan10.png</string>
        </dict>
    </dict>
</plist>
