<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_heidi9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{517,640}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{517,640}}</string>
                <key>sourceSize</key>
                <string>{545,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_show_heidi9.png</string>
            <key>size</key>
            <string>{521,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fbee1b57b097d0842ac1e4d6ef85d8$</string>
            <key>textureFileName</key>
            <string>effect_show_heidi9.png</string>
        </dict>
    </dict>
</plist>
