<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_cardlight_ziseshanguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,126},{33,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{33,101}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{69,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,101}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{61,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{61,101}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,65},{59,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,101}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{69,101}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,93},{69,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{69,89}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,184},{69,67}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{69,67}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{69,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{69,43}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,184},{69,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{69,41}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,184},{69,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{69,65}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
            <key>effect_cardlight_ziseshanguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{69,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{69,89}}</string>
                <key>sourceSize</key>
                <string>{75,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_cardlight_ziseshanguang.png</string>
            <key>size</key>
            <string>{252,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aace0df4d262805f5f029f91a7dc929a$</string>
            <key>textureFileName</key>
            <string>effect_cardlight_ziseshanguang.png</string>
        </dict>
    </dict>
</plist>
