<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heji_guangxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,379},{142,165}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{142,165}}</string>
                <key>sourceSize</key>
                <string>{156,217}</string>
            </dict>
            <key>effect_heji_guangxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,379},{211,171}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{211,171}}</string>
                <key>sourceSize</key>
                <string>{233,205}</string>
            </dict>
            <key>effect_heji_guangxian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,159},{282,162}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{282,162}}</string>
                <key>sourceSize</key>
                <string>{310,194}</string>
            </dict>
            <key>effect_heji_guangxian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{353,155}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{353,155}}</string>
                <key>sourceSize</key>
                <string>{387,183}</string>
            </dict>
            <key>effect_heji_guangxian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,323},{423,147}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{423,147}}</string>
                <key>sourceSize</key>
                <string>{465,171}</string>
            </dict>
            <key>effect_heji_guangxian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{492,138}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{492,138}}</string>
                <key>sourceSize</key>
                <string>{542,160}</string>
            </dict>
            <key>effect_heji_guangxian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{558,131}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{558,131}}</string>
                <key>sourceSize</key>
                <string>{618,149}</string>
            </dict>
            <key>effect_heji_guangxian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{614,123}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{614,123}}</string>
                <key>sourceSize</key>
                <string>{696,137}</string>
            </dict>
            <key>effect_heji_guangxian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{643,117}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,2},{643,117}}</string>
                <key>sourceSize</key>
                <string>{773,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heji_guangxian.png</string>
            <key>size</key>
            <string>{1002,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b4bb3d2468c9ba07a4611210463a2a0$</string>
            <key>textureFileName</key>
            <string>effect_heji_guangxian.png</string>
        </dict>
    </dict>
</plist>
