<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chuanshangzhandou_shengzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{52,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,118}}</string>
                <key>sourceSize</key>
                <string>{54,118}</string>
            </dict>
            <key>effect_chuanshangzhandou_shengzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,123}}</string>
                <key>sourceSize</key>
                <string>{42,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chuanshangzhandou_shengzi.png</string>
            <key>size</key>
            <string>{100,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f357a99958eef622d47f7824399d6f53$</string>
            <key>textureFileName</key>
            <string>effect_chuanshangzhandou_shengzi.png</string>
        </dict>
    </dict>
</plist>
