<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuafuboss_yunnuan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{871,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,336}}</string>
                <key>sourceSize</key>
                <string>{871,336}</string>
            </dict>
            <key>effect_kuafuboss_yunnuan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{768,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,308}}</string>
                <key>sourceSize</key>
                <string>{768,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuafuboss_yunnuan1.png</string>
            <key>size</key>
            <string>{875,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb19dd7d5c04afbc67aa2bdb71b32eb1$</string>
            <key>textureFileName</key>
            <string>effect_kuafuboss_yunnuan1.png</string>
        </dict>
    </dict>
</plist>
