<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nianyefan02_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,342},{94,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,82}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>effect_nianyefan02_guang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,115},{145,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,126}}</string>
                <key>sourceSize</key>
                <string>{151,134}</string>
            </dict>
            <key>effect_nianyefan02_guang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,262},{135,108}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,108}}</string>
                <key>sourceSize</key>
                <string>{141,112}</string>
            </dict>
            <key>effect_nianyefan02_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{136,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,112}}</string>
                <key>sourceSize</key>
                <string>{142,118}</string>
            </dict>
            <key>effect_nianyefan02_guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,342},{153,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,152}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>effect_nianyefan02_guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,254},{70,86}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,86}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>effect_nianyefan02_guang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,142}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,142}}</string>
                <key>sourceSize</key>
                <string>{378,148}</string>
            </dict>
            <key>effect_nianyefan02_guang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{229,98}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,98}}</string>
                <key>sourceSize</key>
                <string>{237,106}</string>
            </dict>
            <key>effect_nianyefan02_guang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,146},{116,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{116,160}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>effect_nianyefan02_guang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{133,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,111}}</string>
                <key>sourceSize</key>
                <string>{139,117}</string>
            </dict>
            <key>effect_nianyefan02_guang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,146},{106,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,70}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nianyefan02_guang.png</string>
            <key>size</key>
            <string>{511,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87db446afa73007ba1d6d5a3f0f7b06e$</string>
            <key>textureFileName</key>
            <string>effect_nianyefan02_guang.png</string>
        </dict>
    </dict>
</plist>
