<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiang_shunian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,24},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>effect_touxiang_shunian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{56,128}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,8},{56,128}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,302},{86,136}}</string>
                <key>offset</key>
                <string>{85,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{86,136}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{110,136}}</string>
                <key>offset</key>
                <string>{73,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,264},{142,134}}</string>
                <key>offset</key>
                <string>{57,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,134}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,132}}</string>
                <key>offset</key>
                <string>{49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,132}}</string>
                <key>offset</key>
                <string>{49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{158,130}}</string>
                <key>offset</key>
                <string>{49,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,136},{158,130}}</string>
                <key>offset</key>
                <string>{49,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,136},{156,126}}</string>
                <key>offset</key>
                <string>{50,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{156,126}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{26,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,20}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>effect_touxiang_shunian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,268},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>effect_touxiang_shunian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,367},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>effect_touxiang_shunian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>effect_touxiang_shunian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,324},{42,41}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,41}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>effect_touxiang_shunian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,268},{62,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,32}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>effect_touxiang_shunian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,400},{109,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>effect_touxiang_shunian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,264},{42,58}}</string>
                <key>offset</key>
                <string>{102,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,80},{42,58}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,302},{46,74}}</string>
                <key>offset</key>
                <string>{105,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,64},{46,74}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,400},{46,102}}</string>
                <key>offset</key>
                <string>{105,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,35},{46,102}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_touxiang_shunian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,400},{46,108}}</string>
                <key>offset</key>
                <string>{105,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,29},{46,108}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiang_shunian.png</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c59abf1965f1f6cfabc787fbe1e409$</string>
            <key>textureFileName</key>
            <string>effect_touxiang_shunian.png</string>
        </dict>
    </dict>
</plist>
