<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hecheng_juhe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,728},{10,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,244},{10,10}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1086},{172,168}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,163},{172,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1220},{164,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,167},{164,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{156,156}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,170},{156,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1098},{128,132}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,180},{128,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,274},{274,270}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,108},{274,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,730},{358,354}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{358,354}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{362,356}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{362,356}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{368,362}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,61},{368,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,366}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,59},{372,366}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,366},{366,362}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,61},{366,362}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,546},{28,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,233},{28,30}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{360,352}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{360,352}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{274,270}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,107},{274,270}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1200},{116,124}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,170},{116,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1228},{118,98}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,196},{118,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1098},{154,100}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,190},{154,100}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1082},{184,136}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,178},{184,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,744},{192,174}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{192,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,920},{190,176}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,154},{190,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,546},{196,198}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,148},{196,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{186,180}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,156},{186,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_hecheng_juhe_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1086},{176,172}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,162},{176,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hecheng_juhe.png</string>
            <key>size</key>
            <string>{1022,1422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cccd5da096eeae74d9c6a69fa7ff9e11$</string>
            <key>textureFileName</key>
            <string>effect_hecheng_juhe.png</string>
        </dict>
    </dict>
</plist>
