<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujianglevelup_baozha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,408},{80,75}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{80,75}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,136},{144,130}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{144,130}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,360},{144,120}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,52},{144,120}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,214},{144,120}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,52},{144,120}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{104,105}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{104,105}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,109},{106,103}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{106,103}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{96,113}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{96,113}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,408},{88,105}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{88,105}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,268},{142,132}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,38},{142,132}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{236,200}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{236,200}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,202}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{240,202}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>effect_wujianglevelup_baozha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{146,132}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,39},{146,132}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujianglevelup_baozha.png</string>
            <key>size</key>
            <string>{512,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d8840133c9560cc3ea269c154be700$</string>
            <key>textureFileName</key>
            <string>effect_wujianglevelup_baozha.png</string>
        </dict>
    </dict>
</plist>
