<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huodong_lihua1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,392},{209,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,235}}</string>
                <key>sourceSize</key>
                <string>{209,235}</string>
            </dict>
            <key>effect_huodong_lihua1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{253,255}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{253,255}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{255,255}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{255,255}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,253},{249,251}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{249,251}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,496},{239,239}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{239,239}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1065},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,960},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,735},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,729},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,504},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,137},{180,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,165}}</string>
                <key>sourceSize</key>
                <string>{180,165}</string>
            </dict>
            <key>effect_huodong_lihua1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,504},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{177,177}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1024},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{177,177}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,615},{109,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{109,109}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,485},{179,179}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{179,179}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,259},{237,239}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,55},{237,239}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,257},{245,247}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{245,247}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,2},{251,253}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{251,253}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,137},{253,255}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{253,255}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{255,255}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{255,255}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{249,251}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,49},{249,251}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,735},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>effect_huodong_lihua1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,255},{239,239}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{239,239}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,834},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,498},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,603},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,63},{229,229}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,845},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{177,177}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,666},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{177,177}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,133}}</string>
                <key>sourceSize</key>
                <string>{700,133}</string>
            </dict>
            <key>effect_huodong_lihua1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,504},{109,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{109,109}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,304},{179,179}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{179,179}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,502},{237,239}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,55},{237,239}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,255},{245,247}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,51},{245,247}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
            <key>effect_huodong_lihua1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{251,253}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,48},{251,253}}</string>
                <key>sourceSize</key>
                <string>{355,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huodong_lihua1.png</string>
            <key>size</key>
            <string>{1998,1318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e11b4af9b01efba1e16765f15e994d2f$</string>
            <key>textureFileName</key>
            <string>effect_huodong_lihua1.png</string>
        </dict>
    </dict>
</plist>
