<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_show_qplizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>effect_show_qplizi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{44,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>effect_show_qplizi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{33,33}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{33,33}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>effect_show_qplizi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,92},{24,25}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{24,25}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_show_qplizi.png</string>
            <key>size</key>
            <string>{64,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3751d46399f79b03edb0e9cdebc4e2bc$</string>
            <key>textureFileName</key>
            <string>effect_show_qplizi.png</string>
        </dict>
    </dict>
</plist>
