<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshoubreak_tupochenggong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_shenshoubreak_tupochenggong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{258,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,84}}</string>
                <key>sourceSize</key>
                <string>{262,86}</string>
            </dict>
            <key>effect_shenshoubreak_tupochenggong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,396},{254,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,80}}</string>
                <key>sourceSize</key>
                <string>{254,80}</string>
            </dict>
            <key>effect_shenshoubreak_tupochenggong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,652},{366,149}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{366,149}}</string>
                <key>sourceSize</key>
                <string>{406,161}</string>
            </dict>
            <key>effect_shenshoubreak_tupochenggong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{392,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,149}}</string>
                <key>sourceSize</key>
                <string>{392,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshoubreak_tupochenggong.png</string>
            <key>size</key>
            <string>{239,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7887b99292820d3e39296fff43211ce2$</string>
            <key>textureFileName</key>
            <string>effect_shenshoubreak_tupochenggong.png</string>
        </dict>
    </dict>
</plist>
