<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,62}}</string>
                <key>sourceSize</key>
                <string>{368,62}</string>
            </dict>
            <key>effect_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{317,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,76}}</string>
                <key>sourceSize</key>
                <string>{317,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_flag.png</string>
            <key>size</key>
            <string>{144,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323b329eec72745c2c3b558ce1188959$</string>
            <key>textureFileName</key>
            <string>effect_flag.png</string>
        </dict>
    </dict>
</plist>
