<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xianshou_huohua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{225,154}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{225,154}}</string>
                <key>sourceSize</key>
                <string>{233,164}</string>
            </dict>
            <key>effect_xianshou_huohua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{228,160}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{228,160}}</string>
                <key>sourceSize</key>
                <string>{234,164}</string>
            </dict>
            <key>effect_xianshou_huohua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{247,152}}</string>
                <key>sourceSize</key>
                <string>{249,154}</string>
            </dict>
            <key>effect_xianshou_huohua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,245},{213,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{213,94}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>effect_xianshou_huohua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,164},{220,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{220,79}}</string>
                <key>sourceSize</key>
                <string>{224,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xianshou_huohua.png</string>
            <key>size</key>
            <string>{481,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecdef6f07d8a7436b0d2c2adcf81170a$</string>
            <key>textureFileName</key>
            <string>effect_xianshou_huohua.png</string>
        </dict>
    </dict>
</plist>
