<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhuangbei_purple_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhuangbei_purple_di.png</string>
            <key>size</key>
            <string>{104,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:615889b237adcd890f7744287510cc9f$</string>
            <key>textureFileName</key>
            <string>effect_zhuangbei_purple_di.png</string>
        </dict>
    </dict>
</plist>
