<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhucheng12daynight_xingdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,34}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhucheng12daynight_xingdian.png</string>
            <key>size</key>
            <string>{38,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c981f645afa9b79ac2886b8a82ffe49$</string>
            <key>textureFileName</key>
            <string>effect_zhucheng12daynight_xingdian.png</string>
        </dict>
    </dict>
</plist>
