<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_baowujinglian_shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,207},{57,86}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{57,86}}</string>
                <key>sourceSize</key>
                <string>{67,96}</string>
            </dict>
            <key>effect_baowujinglian_shandian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{218,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{218,92}}</string>
                <key>sourceSize</key>
                <string>{228,100}</string>
            </dict>
            <key>effect_baowujinglian_shandian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,109}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{220,109}}</string>
                <key>sourceSize</key>
                <string>{230,117}</string>
            </dict>
            <key>effect_baowujinglian_shandian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{176,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,108}}</string>
                <key>sourceSize</key>
                <string>{184,116}</string>
            </dict>
            <key>effect_baowujinglian_shandian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{131,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,102}}</string>
                <key>sourceSize</key>
                <string>{139,110}</string>
            </dict>
            <key>effect_baowujinglian_shandian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,317},{120,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{120,98}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_baowujinglian_shandian.png</string>
            <key>size</key>
            <string>{239,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7df601ed5e9697733ab171ac000ab2a1$</string>
            <key>textureFileName</key>
            <string>effect_baowujinglian_shandian.png</string>
        </dict>
    </dict>
</plist>
