<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bansanjiao_lizi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,13}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{11,13}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bansanjiao_lizi.png</string>
            <key>size</key>
            <string>{15,17}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e762ec279c553976491a513538aeb9a$</string>
            <key>textureFileName</key>
            <string>effect_bansanjiao_lizi.png</string>
        </dict>
    </dict>
</plist>
