<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_zhongli_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,232},{14,20}}</string>
                <key>offset</key>
                <string>{-67,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{14,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,216},{32,20}}</string>
                <key>offset</key>
                <string>{59,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,11},{32,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,216},{14,20}}</string>
                <key>offset</key>
                <string>{68,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,11},{14,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,76},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,194},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,194},{32,20}}</string>
                <key>offset</key>
                <string>{-58,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{32,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,76},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,194},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,130},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,206},{50,20}}</string>
                <key>offset</key>
                <string>{-49,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{50,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,76},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_zhongli_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>effect_touxian_zhongli_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{54,20}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{54,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{54,20}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{54,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,194},{52,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,11},{52,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,162},{54,20}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,11},{54,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,140},{56,20}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,11},{56,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_zhongli_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,228},{46,20}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_zhongli.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ebee737889e38c6ba510356000cc79$</string>
            <key>textureFileName</key>
            <string>effect_touxian_zhongli.png</string>
        </dict>
    </dict>
</plist>
