<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_sky_f_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,441}}</string>
                <key>sourceSize</key>
                <string>{238,441}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_sky_f_z.png</string>
            <key>size</key>
            <string>{242,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e61e0ff30c213cb8d8818b693a31168$</string>
            <key>textureFileName</key>
            <string>effect_sky_f_z.png</string>
        </dict>
    </dict>
</plist>
