<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{61,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>effect_chouka_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,56}}</string>
                <key>sourceSize</key>
                <string>{94,62}</string>
            </dict>
            <key>effect_chouka_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,60},{61,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_1.png</string>
            <key>size</key>
            <string>{96,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ef9a19e1e490b4215d2c6f8198d7ae$</string>
            <key>textureFileName</key>
            <string>effect_chouka_1.png</string>
        </dict>
    </dict>
</plist>
