<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tujiezhuanquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,410},{208,192}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{208,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,218},{212,194}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{212,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,422},{198,194}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{198,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,194}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{210,200}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{210,200}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{214,198}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{214,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,444},{202,212}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{202,212}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,214},{206,194}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{206,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,666},{208,212}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{208,212}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{204,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{178,212}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{178,212}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,202},{208,206}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{208,206}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{214,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{214,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{210,198}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{210,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,224},{218,198}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,198}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>effect_tujiezhuanquan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{218,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tujiezhuanquan.png</string>
            <key>size</key>
            <string>{1002,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cba1a9bb90d1bf931f449da666e0428b$</string>
            <key>textureFileName</key>
            <string>effect_tujiezhuanquan.png</string>
        </dict>
    </dict>
</plist>
