<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_benfunianfan_huaban_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>effect_benfunianfan_huaban_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>effect_benfunianfan_huaban_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,10}}</string>
                <key>sourceSize</key>
                <string>{15,12}</string>
            </dict>
            <key>effect_benfunianfan_huaban_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_benfunianfan_huaban.png</string>
            <key>size</key>
            <string>{19,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95750e32b1bab8920bf789b7a7b99724$</string>
            <key>textureFileName</key>
            <string>effect_benfunianfan_huaban.png</string>
        </dict>
    </dict>
</plist>
