<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_draw_hero_ball_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,158},{138,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{140,148}</string>
            </dict>
            <key>effect_draw_hero_ball_z_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,54},{50,269}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{50,269}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
            <key>effect_draw_hero_ball_z_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,158},{50,229}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{50,229}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
            <key>effect_draw_hero_ball_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{59,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,200}}</string>
                <key>sourceSize</key>
                <string>{61,200}</string>
            </dict>
            <key>effect_draw_hero_ball_z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{65,216}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,216}}</string>
                <key>sourceSize</key>
                <string>{69,230}</string>
            </dict>
            <key>effect_draw_hero_ball_z_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,393},{99,111}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{99,111}}</string>
                <key>sourceSize</key>
                <string>{125,133}</string>
            </dict>
            <key>effect_draw_hero_ball_z_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,423}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{125,423}}</string>
                <key>sourceSize</key>
                <string>{191,493}</string>
            </dict>
            <key>effect_draw_hero_ball_z_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,158},{50,233}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{50,233}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
            <key>effect_draw_hero_ball_z_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,106},{50,257}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{50,257}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
            <key>effect_draw_hero_ball_z_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,158},{50,233}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{50,233}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
            <key>effect_draw_hero_ball_z_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{50,287}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{50,287}}</string>
                <key>sourceSize</key>
                <string>{54,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_draw_hero_ball_z.png</string>
            <key>size</key>
            <string>{509,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbe2f57e932058464983224d544fc5ce$</string>
            <key>textureFileName</key>
            <string>effect_draw_hero_ball_z.png</string>
        </dict>
    </dict>
</plist>
