<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qiling_xuliguangdian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiling_xuliguangdian.png</string>
            <key>size</key>
            <string>{24,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a853251bd911d7169fb4022fe9be78ac$</string>
            <key>textureFileName</key>
            <string>effect_qiling_xuliguangdian.png</string>
        </dict>
    </dict>
</plist>
