<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shuijing_lvseguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,132}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shuijing_lvseguang.png</string>
            <key>size</key>
            <string>{134,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7121ab9defb69960654c3f537395bc$</string>
            <key>textureFileName</key>
            <string>effect_shuijing_lvseguang.png</string>
        </dict>
    </dict>
</plist>
