<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_biankuangguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,446}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{139,446}}</string>
                <key>sourceSize</key>
                <string>{147,452}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_biankuangguang.png</string>
            <key>size</key>
            <string>{143,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67011ab19778a99ff743995f84259d5d$</string>
            <key>textureFileName</key>
            <string>effect_biankuangguang.png</string>
        </dict>
    </dict>
</plist>
