<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_6.png</string>
            <key>size</key>
            <string>{18,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6b8536d3344a9f5f841d502ce6b516$</string>
            <key>textureFileName</key>
            <string>effect_chouka_6.png</string>
        </dict>
    </dict>
</plist>
