<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juntuan_chuan4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{56,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>effect_juntuan_chuan4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{89,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,75}}</string>
                <key>sourceSize</key>
                <string>{93,75}</string>
            </dict>
            <key>effect_juntuan_chuan4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,95}}</string>
                <key>sourceSize</key>
                <string>{156,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juntuan_chuan4.png</string>
            <key>size</key>
            <string>{114,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a179d287db34a8a9acb0ef076c14bcd$</string>
            <key>textureFileName</key>
            <string>effect_juntuan_chuan4.png</string>
        </dict>
    </dict>
</plist>
