<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huangjinzhandou_ying1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{164,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{164,51}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>effect_huangjinzhandou_ying1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,126},{150,87}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{150,87}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>effect_huangjinzhandou_ying1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,69}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{164,69}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>effect_huangjinzhandou_ying1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{126,51}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,50},{126,51}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>effect_huangjinzhandou_ying1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{76,71}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{76,71}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huangjinzhandou_ying1.png</string>
            <key>size</key>
            <string>{246,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce6e00b089a7dca073157cd4cd87126$</string>
            <key>textureFileName</key>
            <string>effect_huangjinzhandou_ying1.png</string>
        </dict>
    </dict>
</plist>
