<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qizi_baobei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{145,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,772},{143,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,530},{143,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{145,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{145,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{145,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{145,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,19},{60,7}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,7}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,837},{60,15}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,15}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,69},{60,21}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{60,21}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,474},{60,29}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{60,29}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,772},{143,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,403},{60,37}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,37}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,259},{60,45}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,45}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{60,51}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{60,51}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,294},{60,59}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,59}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,437},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,437},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,361},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,294},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,437},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,344},{60,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,530},{143,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,356},{60,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{60,57}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,970},{60,49}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{60,49}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,341},{60,43}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,27},{60,43}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,465},{60,35}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{60,35}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>effect_qizi_baobei_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,157},{79,38}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{79,38}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,109},{81,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{81,46}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,197},{77,44}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{77,44}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,243},{75,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{75,44}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,184},{73,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{73,42}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,109},{73,40}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,37},{73,40}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{145,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,354},{71,40}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{71,40}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,396},{69,38}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{69,38}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,436},{67,36}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,54},{67,36}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,465},{63,16}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,72},{63,16}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,772},{63,18}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,71},{63,18}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,279},{63,18}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,72},{63,18}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,196},{63,20}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,72},{63,20}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,131},{63,20}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,73},{63,20}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{65,22}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,73},{65,22}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,321},{45,18}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,77},{45,18}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,292},{143,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,261},{19,16}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,79},{19,16}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{15,12}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,82},{15,12}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>effect_qizi_baobei_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,356},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_qizi_baobei_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{105,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{105,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>effect_qizi_baobei_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,437},{65,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{65,66}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>effect_qizi_baobei_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,970},{51,45}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,45}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>effect_qizi_baobei_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,289},{63,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,72}}</string>
                <key>sourceSize</key>
                <string>{63,72}</string>
            </dict>
            <key>effect_qizi_baobei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,149},{143,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,149},{143,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,147},{143,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_qizi_baobei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{143,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{143,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qizi_baobei.png</string>
            <key>size</key>
            <string>{1024,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a046bad5066b11ffb15346011d4a3b81$</string>
            <key>textureFileName</key>
            <string>effect_qizi_baobei.png</string>
        </dict>
    </dict>
</plist>
