<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_battlepower_up_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>num_battlepower_up_,.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>num_battlepower_up_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,17},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>num_battlepower_up_..png</key>
            <dict>
                <key>frame</key>
                <string>{{67,20},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>num_battlepower_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>num_battlepower_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>num_battlepower_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>num_battlepower_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,36},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>num_battlepower_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,98},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>num_battlepower_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>num_battlepower_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>num_battlepower_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,98},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>num_battlepower_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,67},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>num_battlepower_up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,67},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>num_battlepower_up_xiegang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_battlepower_up.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0fd71840acc026a6280ada88ee05f35$</string>
            <key>textureFileName</key>
            <string>num_battlepower_up.png</string>
        </dict>
    </dict>
</plist>
