<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_luoyangzhandou_wuyun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,136}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{189,136}}</string>
                <key>sourceSize</key>
                <string>{207,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_luoyangzhandou_wuyun.png</string>
            <key>size</key>
            <string>{193,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997f90201cb846807578bf2096ee0562$</string>
            <key>textureFileName</key>
            <string>effect_luoyangzhandou_wuyun.png</string>
        </dict>
    </dict>
</plist>
