<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juntuan_chuan2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{56,13}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>effect_juntuan_chuan2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{111,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,113}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>effect_juntuan_chuan2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,95}}</string>
                <key>sourceSize</key>
                <string>{156,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juntuan_chuan2.png</string>
            <key>size</key>
            <string>{218,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5cca426198451ec68cae1b24262784$</string>
            <key>textureFileName</key>
            <string>effect_juntuan_chuan2.png</string>
        </dict>
    </dict>
</plist>
