<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qiling_chengsehulijihuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,145},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{131,135}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{129,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{129,141}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{135,141}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{137,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{137,139}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{119,119}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{119,119}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,88},{82,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{82,82}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>effect_qiling_chengsehulijihuo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiling_chengsehulijihuo.png</string>
            <key>size</key>
            <string>{457,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a30f693ff55396102745e7dc36cb982$</string>
            <key>textureFileName</key>
            <string>effect_qiling_chengsehulijihuo.png</string>
        </dict>
    </dict>
</plist>
