<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gongxizhugong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{682,220}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{682,220}}</string>
                <key>sourceSize</key>
                <string>{740,238}</string>
            </dict>
            <key>effect_gongxizhugong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2},{466,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,115}}</string>
                <key>sourceSize</key>
                <string>{466,115}</string>
            </dict>
            <key>effect_gongxizhugong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_gongxizhugong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1040,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,165}}</string>
                <key>sourceSize</key>
                <string>{1040,165}</string>
            </dict>
            <key>effect_gongxizhugong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,2},{290,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,71}}</string>
                <key>sourceSize</key>
                <string>{290,71}</string>
            </dict>
            <key>effect_gongxizhugong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{817,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{817,95}}</string>
                <key>sourceSize</key>
                <string>{817,95}</string>
            </dict>
            <key>effect_gongxizhugong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,42},{477,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,418}}</string>
                <key>sourceSize</key>
                <string>{477,418}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gongxizhugong.png</string>
            <key>size</key>
            <string>{1911,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22ae29ce348340f6ee01d6557394134$</string>
            <key>textureFileName</key>
            <string>effect_gongxizhugong.png</string>
        </dict>
    </dict>
</plist>
