<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fudao_huanggong_wapian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,501},{16,9}}</string>
                <key>offset</key>
                <string>{-78,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,63},{16,9}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,389},{110,123}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,3},{110,123}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{100,119}}</string>
                <key>offset</key>
                <string>{34,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,3},{100,119}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,131},{88,93}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,22},{88,93}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{74,79}}</string>
                <key>offset</key>
                <string>{46,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,32},{74,79}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{62,51}}</string>
                <key>offset</key>
                <string>{53,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,33},{62,51}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,259},{48,47}}</string>
                <key>offset</key>
                <string>{60,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,33},{48,47}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,309},{46,41}}</string>
                <key>offset</key>
                <string>{62,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,33},{46,41}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,226},{36,31}}</string>
                <key>offset</key>
                <string>{66,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,34},{36,31}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,226},{38,29}}</string>
                <key>offset</key>
                <string>{-66,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,62},{38,29}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{60,73}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{60,73}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,95},{78,81}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{78,81}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{90,91}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{90,91}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,260},{102,125}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{102,125}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{118,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{118,127}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,127}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,3},{126,127}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
            <key>effect_fudao_huanggong_wapian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{122,127}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{122,127}}</string>
                <key>sourceSize</key>
                <string>{174,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fudao_huanggong_wapian.png</string>
            <key>size</key>
            <string>{337,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:041a801abeb547bcec41c45ae643f615$</string>
            <key>textureFileName</key>
            <string>effect_fudao_huanggong_wapian.png</string>
        </dict>
    </dict>
</plist>
