<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu5_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,200}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{272,200}}</string>
                <key>sourceSize</key>
                <string>{384,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu5_logo.png</string>
            <key>size</key>
            <string>{204,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5442aaa06d7ea13912e0e00a6b21016e$</string>
            <key>textureFileName</key>
            <string>effect_denglu5_logo.png</string>
        </dict>
    </dict>
</plist>
