<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanfa_kuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{58,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>effect_zhanfa_kuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,116},{57,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>effect_zhanfa_kuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{57,57}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>effect_zhanfa_kuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,175},{57,57}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>effect_zhanfa_kuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanfa_kuang.png</string>
            <key>size</key>
            <string>{122,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6643d3a1ed51fb5221b107e07049f52d$</string>
            <key>textureFileName</key>
            <string>effect_zhanfa_kuang.png</string>
        </dict>
    </dict>
</plist>
