<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_honglong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{47,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,43}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>effect_touxian_honglong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,582},{28,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>effect_touxian_honglong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,481},{16,11}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,11}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>effect_touxian_honglong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,376},{8,16}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{8,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,480},{14,20}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{14,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,498},{18,28}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{18,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,403},{24,38}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{24,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,361},{26,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{26,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,668},{32,42}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{32,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,374},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,779},{38,38}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,715},{40,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{40,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,743},{40,34}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{40,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,753},{40,32}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{40,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,624},{38,28}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,46},{38,28}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,121},{32,20}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,54},{32,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,215},{26,20}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,54},{26,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,460},{18,20}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{18,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,528},{14,16}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,58},{14,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxian_honglong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,443},{23,15}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>effect_touxian_honglong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,252},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{56,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,36}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>effect_touxian_honglong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,718},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>effect_touxian_honglong_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,185},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>effect_touxian_honglong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,155},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>effect_touxian_honglong_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,715},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>effect_touxian_honglong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,702},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>effect_touxian_honglong_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,668},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxian_honglong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,668},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxian_honglong_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,668},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,634},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,126},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,582},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,548},{118,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{118,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{118,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{118,82}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,498},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,584},{118,82}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,82}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,496},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,376},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,361},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,121},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,668},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxian_honglong_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{117,103}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,103}}</string>
                <key>sourceSize</key>
                <string>{123,109}</string>
            </dict>
            <key>effect_touxian_honglong_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,243},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>effect_touxian_honglong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{132,120}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,120}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,250},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxian_honglong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{130,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_honglong.png</string>
            <key>size</key>
            <string>{512,819}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34aa5efd2b1014bd12b9969bbb1778a3$</string>
            <key>textureFileName</key>
            <string>effect_touxian_honglong.png</string>
        </dict>
    </dict>
</plist>
