<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huodongqixi2_yun1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,178}}</string>
                <key>sourceSize</key>
                <string>{416,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huodongqixi2_yun1.png</string>
            <key>size</key>
            <string>{182,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1b78154f733c03e8e228c98ad098a16$</string>
            <key>textureFileName</key>
            <string>effect_huodongqixi2_yun1.png</string>
        </dict>
    </dict>
</plist>
