<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu3_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{201,91}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{201,91}}</string>
                <key>sourceSize</key>
                <string>{241,189}</string>
            </dict>
            <key>effect_denglu3_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{199,143}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{199,143}}</string>
                <key>sourceSize</key>
                <string>{241,189}</string>
            </dict>
            <key>effect_denglu3_logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,189}}</string>
                <key>sourceSize</key>
                <string>{241,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu3_logo.png</string>
            <key>size</key>
            <string>{245,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61d3ca8e2e56acbfebbe0465a504a85e$</string>
            <key>textureFileName</key>
            <string>effect_denglu3_logo.png</string>
        </dict>
    </dict>
</plist>
