<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_bansanjiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{46,96}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,96}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>effect_icon_bansanjiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,109}}</string>
                <key>sourceSize</key>
                <string>{65,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_bansanjiao.png</string>
            <key>size</key>
            <string>{109,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c6cb7d32aa0f30eb3a5735b70aae75$</string>
            <key>textureFileName</key>
            <string>effect_icon_bansanjiao.png</string>
        </dict>
    </dict>
</plist>
