<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiangkuang_yuhuanshui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{7,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>effect_touxiangkuang_yuhuanshui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{123,107}}</string>
                <key>sourceSize</key>
                <string>{127,115}</string>
            </dict>
            <key>effect_touxiangkuang_yuhuanshui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{118,116}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{118,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiangkuang_yuhuanshui.png</string>
            <key>size</key>
            <string>{127,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c178fd167e1c005464cc273e95ed07fc$</string>
            <key>textureFileName</key>
            <string>effect_touxiangkuang_yuhuanshui.png</string>
        </dict>
    </dict>
</plist>
