<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heikuang_shandian_xiaodianliu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{39,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,178}}</string>
                <key>sourceSize</key>
                <string>{45,184}</string>
            </dict>
            <key>effect_heikuang_shandian_xiaodianliu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{62,235}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,235}}</string>
                <key>sourceSize</key>
                <string>{66,239}</string>
            </dict>
            <key>effect_heikuang_shandian_xiaodianliu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,242}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,242}}</string>
                <key>sourceSize</key>
                <string>{57,248}</string>
            </dict>
            <key>effect_heikuang_shandian_xiaodianliu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{52,204}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,204}}</string>
                <key>sourceSize</key>
                <string>{58,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heikuang_shandian_xiaodianliu.png</string>
            <key>size</key>
            <string>{214,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afe289caa5aeb4fe7309303c02cfdaf6$</string>
            <key>textureFileName</key>
            <string>effect_heikuang_shandian_xiaodianliu.png</string>
        </dict>
    </dict>
</plist>
