<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_miyu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>effect_miyu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_miyu.png</string>
            <key>size</key>
            <string>{63,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821d8a955b7974565da1ca86f81ddbb2$</string>
            <key>textureFileName</key>
            <string>effect_miyu.png</string>
        </dict>
    </dict>
</plist>
