<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiangbreak_guangxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,610},{33,33}}</string>
                <key>offset</key>
                <string>{-11,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,213},{33,33}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{119,249}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{119,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1154},{131,247}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{131,247}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1019},{133,247}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{133,247}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{129,245}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{129,245}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1914},{123,245}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{123,245}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1787},{125,247}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{125,247}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1287},{129,249}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{129,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1418},{127,251}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{127,251}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1372},{131,253}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{131,253}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1233},{137,257}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{137,257}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,444},{33,47}}</string>
                <key>offset</key>
                <string>{-17,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,204},{33,47}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{139,259}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{139,259}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{125,259}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{125,259}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,756},{139,261}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{139,261}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,491},{147,263}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{147,263}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,226},{149,263}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{149,263}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{149,265}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{145,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{145,265}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{143,263}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{143,263}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{133,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{133,263}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{129,265}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{129,265}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,444},{45,53}}</string>
                <key>offset</key>
                <string>{-16,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,201},{45,53}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{125,265}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{125,265}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{125,261}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{125,261}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{129,227}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,42},{129,227}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,133},{129,53}}</string>
                <key>offset</key>
                <string>{11,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,216},{129,53}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,491},{125,45}}</string>
                <key>offset</key>
                <string>{11,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,225},{125,45}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,493},{115,43}}</string>
                <key>offset</key>
                <string>{14,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,227},{115,43}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,397},{79,45}}</string>
                <key>offset</key>
                <string>{31,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,225},{79,45}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,264},{87,131}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,127},{87,131}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,133},{91,181}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,78},{91,181}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1749},{113,249}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,15},{113,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1668},{117,249}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{117,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1547},{119,249}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{119,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
            <key>effect_wujiangbreak_guangxiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1505},{121,249}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{121,249}}</string>
                <key>sourceSize</key>
                <string>{153,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiangbreak_guangxiao.png</string>
            <key>size</key>
            <string>{512,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8113f036e507a0ad0113562d5f9f675$</string>
            <key>textureFileName</key>
            <string>effect_wujiangbreak_guangxiao.png</string>
        </dict>
    </dict>
</plist>
