<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhenyingjingji_daoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,243},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,83},{158,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{158,204}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{158,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{158,242}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{158,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{158,252}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{158,266}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{158,266}}</string>
                <key>sourceSize</key>
                <string>{200,280}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{362,25}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{362,25}}</string>
                <key>sourceSize</key>
                <string>{398,29}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{380,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{380,25}}</string>
                <key>sourceSize</key>
                <string>{388,29}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{380,25}}</string>
                <key>sourceSize</key>
                <string>{388,29}</string>
            </dict>
            <key>effect_zhenyingjingji_daoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhenyingjingji_daoguang.png</string>
            <key>size</key>
            <string>{424,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d5ca13164ab410d2bc660998d43484$</string>
            <key>textureFileName</key>
            <string>effect_zhenyingjingji_daoguang.png</string>
        </dict>
    </dict>
</plist>
