<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_PK_huoyan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,418},{136,175}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{136,175}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{132,169}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{132,169}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,647},{132,171}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{132,171}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,556},{136,171}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,23},{136,171}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{132,171}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{132,171}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,280},{136,175}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{136,175}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,134},{136,177}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{136,177}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,486},{138,159}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{138,159}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,187}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{134,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{130,187}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{130,187}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{134,177}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{134,177}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,694},{132,169}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{132,169}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{140,173}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{140,173}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{144,175}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{144,175}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,134},{144,181}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{144,181}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
            <key>effect_PK_huoyan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,313},{144,171}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{144,171}}</string>
                <key>sourceSize</key>
                <string>{150,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_PK_huoyan.png</string>
            <key>size</key>
            <string>{512,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:587ee9f79e65b2fb5e7764053e7344b3$</string>
            <key>textureFileName</key>
            <string>effect_PK_huoyan.png</string>
        </dict>
    </dict>
</plist>
