<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_starfall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>effect_starfall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_starfall.png</string>
            <key>size</key>
            <string>{92,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f8e1a95ed08c3092ad91a9a35732dc0$</string>
            <key>textureFileName</key>
            <string>effect_starfall.png</string>
        </dict>
    </dict>
</plist>
