<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangzhaomu_zhengjiang_faguang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{232,84}}</string>
                <key>sourceSize</key>
                <string>{234,84}</string>
            </dict>
            <key>effect_jinjiangzhaomu_zhengjiang_faguang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{206,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,93}}</string>
                <key>sourceSize</key>
                <string>{210,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangzhaomu_zhengjiang_faguang1.png</string>
            <key>size</key>
            <string>{236,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00fa2a98c49c55f10c3cc71edac774e5$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangzhaomu_zhengjiang_faguang1.png</string>
        </dict>
    </dict>
</plist>
