<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhenwuzhanshen_yinying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{153,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,294}}</string>
                <key>sourceSize</key>
                <string>{153,294}</string>
            </dict>
            <key>effect_zhenwuzhanshen_yinying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1400,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,179}}</string>
                <key>sourceSize</key>
                <string>{1400,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhenwuzhanshen_yinying.png</string>
            <key>size</key>
            <string>{183,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:583bb9d17f275c6792e14fa4d13babb4$</string>
            <key>textureFileName</key>
            <string>effect_zhenwuzhanshen_yinying.png</string>
        </dict>
    </dict>
</plist>
