<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nianyefan_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{153,152}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,152}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>effect_nianyefan_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,203},{70,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,50}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>effect_nianyefan_guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,102},{70,99}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,99}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>effect_nianyefan_guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,98}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,98}}</string>
                <key>sourceSize</key>
                <string>{237,106}</string>
            </dict>
            <key>effect_nianyefan_guang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{116,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{116,160}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>effect_nianyefan_guang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{133,111}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,111}}</string>
                <key>sourceSize</key>
                <string>{139,117}</string>
            </dict>
            <key>effect_nianyefan_guang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>effect_nianyefan_guang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>effect_nianyefan_guang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nianyefan_guang.png</string>
            <key>size</key>
            <string>{250,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27cbda5ca7da531ca9419b03b224ffa$</string>
            <key>textureFileName</key>
            <string>effect_nianyefan_guang.png</string>
        </dict>
    </dict>
</plist>
