<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chenghao_jixiangruyi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,250},{42,58}}</string>
                <key>offset</key>
                <string>{102,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,80},{42,58}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{158,132}}</string>
                <key>offset</key>
                <string>{49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,40},{158,132}}</string>
                <key>offset</key>
                <string>{49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{158,130}}</string>
                <key>offset</key>
                <string>{49,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,169},{158,130}}</string>
                <key>offset</key>
                <string>{49,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{156,126}}</string>
                <key>offset</key>
                <string>{50,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{156,126}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,86},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{152,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,36}}</string>
                <key>sourceSize</key>
                <string>{156,40}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,336},{40,39}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,370},{72,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{72,55}}</string>
                <key>sourceSize</key>
                <string>{86,71}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{166,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,29}}</string>
                <key>sourceSize</key>
                <string>{166,29}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,174},{46,74}}</string>
                <key>offset</key>
                <string>{105,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,64},{46,74}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,294},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,294},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,377},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,250},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,82}}</string>
                <key>sourceSize</key>
                <string>{184,82}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,301},{46,102}}</string>
                <key>offset</key>
                <string>{105,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,35},{46,102}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,301},{46,108}}</string>
                <key>offset</key>
                <string>{105,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,29},{46,108}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,174},{56,128}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,8},{56,128}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,232},{86,136}}</string>
                <key>offset</key>
                <string>{85,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{86,136}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,349},{110,136}}</string>
                <key>offset</key>
                <string>{73,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,352},{142,134}}</string>
                <key>offset</key>
                <string>{57,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,0},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
            <key>effect_chenghao_jixiangruyi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,33},{158,134}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{256,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chenghao_jixiangruyi.png</string>
            <key>size</key>
            <string>{512,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28c753e9b5fffcc2b579dcb4b67a19e$</string>
            <key>textureFileName</key>
            <string>effect_chenghao_jixiangruyi.png</string>
        </dict>
    </dict>
</plist>
