<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_paimai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,127},{66,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{72,50}</string>
            </dict>
            <key>effect_ui_paimai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{104,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{104,126}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,130}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,127},{104,112}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,262},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{106,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{106,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{110,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{110,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,274},{102,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,98},{108,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{108,80}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,376},{112,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{112,82}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{116,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{116,84}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>effect_ui_paimai_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{121,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{121,123}}</string>
                <key>sourceSize</key>
                <string>{139,147}</string>
            </dict>
            <key>effect_ui_paimai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,54},{66,23}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{70,27}</string>
            </dict>
            <key>effect_ui_paimai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,180},{22,22}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>effect_ui_paimai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,241},{56,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,15}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>effect_ui_paimai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,198},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,75}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>effect_ui_paimai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,354},{88,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,374},{88,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,274},{90,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,180},{92,106}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{92,106}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{94,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{94,110}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,386},{96,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{96,114}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_ui_paimai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{100,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{100,122}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_paimai.png</string>
            <key>size</key>
            <string>{510,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f483354c4fa30f6ded911912977564ac$</string>
            <key>textureFileName</key>
            <string>effect_ui_paimai.png</string>
        </dict>
    </dict>
</plist>
