<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshu_chouqian_shanbai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,327}}</string>
                <key>sourceSize</key>
                <string>{216,327}</string>
            </dict>
            <key>effect_shenshu_chouqian_shanbai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{190,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,301}}</string>
                <key>sourceSize</key>
                <string>{190,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshu_chouqian_shanbai.png</string>
            <key>size</key>
            <string>{412,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce439cb24daa12bb69625af9d5383462$</string>
            <key>textureFileName</key>
            <string>effect_shenshu_chouqian_shanbai.png</string>
        </dict>
    </dict>
</plist>
