<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_liuguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{66,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{66,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,404},{64,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,206},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,206},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,340},{66,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,274},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{66,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{66,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>effect_icon_liuguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_liuguang.png</string>
            <key>size</key>
            <string>{208,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98d6b68da9eef278f2fe31d23364adea$</string>
            <key>textureFileName</key>
            <string>effect_icon_liuguang.png</string>
        </dict>
    </dict>
</plist>
