<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xinpin_faguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,89},{7,7}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{7,7}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,33}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{59,33}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{53,27}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{53,27}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{45,21}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{45,21}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,101},{39,13}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,1},{39,13}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,74},{13,7}}</string>
                <key>offset</key>
                <string>{23,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{13,7}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,86},{13,17}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{13,17}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{21,25}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{21,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,142},{27,33}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{27,33}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,129},{35,41}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{35,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,86},{41,47}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{47,47}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,37},{55,47}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>effect_xinpin_faguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,41}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xinpin_faguang.png</string>
            <key>size</key>
            <string>{128,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd05d89a563961271897237eb155760e$</string>
            <key>textureFileName</key>
            <string>effect_xinpin_faguang.png</string>
        </dict>
    </dict>
</plist>
