<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qiling_shuaxin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>effect_qiling_shuaxin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,156},{110,147}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{110,147}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,214},{74,141}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{74,141}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,412},{74,129}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{74,129}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,412},{66,129}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{66,129}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{197,194}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,50},{197,194}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,208},{209,204}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{209,204}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,210}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{213,210}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,210}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{213,210}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{211,206}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,44},{211,206}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{209,204}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,45},{209,204}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{86,131}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{86,131}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,210},{203,200}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,47},{203,200}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,488},{107,104}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{107,104}}</string>
                <key>sourceSize</key>
                <string>{313,300}</string>
            </dict>
            <key>effect_qiling_shuaxin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{86,135}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{86,135}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,357},{86,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{86,137}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,408},{90,139}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{90,139}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,314},{92,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{92,141}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,214},{98,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{98,143}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,376},{102,143}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{102,143}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
            <key>effect_qiling_shuaxin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,268},{106,145}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{106,145}}</string>
                <key>sourceSize</key>
                <string>{120,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiling_shuaxin.png</string>
            <key>size</key>
            <string>{1010,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a98cb4c2d1ad9aac1876c46a221610b$</string>
            <key>textureFileName</key>
            <string>effect_qiling_shuaxin.png</string>
        </dict>
    </dict>
</plist>
