<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhaomu_qptex2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,518},{84,231}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,80},{84,231}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,260},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,174},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,432},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,346},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,233}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,78},{84,233}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,88},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
            <key>effect_zhaomu_qptex2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,76},{84,235}}</string>
                <key>sourceSize</key>
                <string>{110,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhaomu_qptex2.png</string>
            <key>size</key>
            <string>{476,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3209bd5d9c9cca32f361dbc584e6b98c$</string>
            <key>textureFileName</key>
            <string>effect_zhaomu_qptex2.png</string>
        </dict>
    </dict>
</plist>
