<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanfa_julong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,830},{106,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{106,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,926},{92,106}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{92,106}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1354},{94,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{94,110}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1354},{96,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{96,114}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1872},{100,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{100,122}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,776},{104,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{104,126}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1876},{96,130}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1354},{104,112}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1354},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,648},{158,158}}</string>
                <key>offset</key>
                <string>{221,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,141},{158,158}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,212},{208,172}}</string>
                <key>offset</key>
                <string>{198,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,129},{208,172}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1354},{110,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{110,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1468},{406,294}}</string>
                <key>offset</key>
                <string>{97,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,4},{406,294}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1464},{406,288}}</string>
                <key>offset</key>
                <string>{94,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,0},{406,288}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,256},{614,252}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,252}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,326},{612,320}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{612,320}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{622,322}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{622,322}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{586,318}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{586,318}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1470},{530,310}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,12},{530,310}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,882},{470,292}}</string>
                <key>offset</key>
                <string>{71,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,28},{470,292}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1444},{406,272}}</string>
                <key>offset</key>
                <string>{76,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,45},{406,272}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1104},{338,250}}</string>
                <key>offset</key>
                <string>{74,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,57},{338,250}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1852},{102,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{264,206}}</string>
                <key>offset</key>
                <string>{71,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,78},{264,206}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,648},{192,172}}</string>
                <key>offset</key>
                <string>{66,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,88},{192,172}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1876},{126,132}}</string>
                <key>offset</key>
                <string>{61,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,98},{126,132}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,808},{70,78}}</string>
                <key>offset</key>
                <string>{56,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,117},{70,78}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,326},{12,20}}</string>
                <key>offset</key>
                <string>{47,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,131},{12,20}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,648},{158,158}}</string>
                <key>offset</key>
                <string>{221,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,141},{158,158}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{208,172}}</string>
                <key>offset</key>
                <string>{198,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,129},{208,172}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,648},{406,294}}</string>
                <key>offset</key>
                <string>{97,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,4},{406,294}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1056},{406,288}}</string>
                <key>offset</key>
                <string>{94,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,0},{406,288}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{614,252}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,252}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1872},{108,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{108,80}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{612,320}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{612,320}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,322}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{622,322}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,510},{586,318}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{586,318}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{530,310}}</string>
                <key>offset</key>
                <string>{47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,12},{530,310}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,882},{470,292}}</string>
                <key>offset</key>
                <string>{71,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,28},{470,292}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,830},{406,272}}</string>
                <key>offset</key>
                <string>{76,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,45},{406,272}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1104},{338,250}}</string>
                <key>offset</key>
                <string>{74,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,57},{338,250}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,616},{264,206}}</string>
                <key>offset</key>
                <string>{71,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,78},{264,206}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,422},{192,172}}</string>
                <key>offset</key>
                <string>{66,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,88},{192,172}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,648},{126,132}}</string>
                <key>offset</key>
                <string>{61,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,98},{126,132}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1354},{112,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{112,82}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,808},{70,78}}</string>
                <key>offset</key>
                <string>{56,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,117},{70,78}}</string>
                <key>sourceSize</key>
                <string>{630,326}</string>
            </dict>
            <key>effect_zhanfa_julong_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1852},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>effect_zhanfa_julong_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1876},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,128}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>effect_zhanfa_julong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1872},{116,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,26},{116,84}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1852},{88,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1949},{88,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_julong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1956},{90,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanfa_julong.png</string>
            <key>size</key>
            <string>{2040,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21ef7f3dd042cc71f84bd57048ac7f84$</string>
            <key>textureFileName</key>
            <string>effect_zhanfa_julong.png</string>
        </dict>
    </dict>
</plist>
