<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wuchabieduijue_duizhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{104,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,52}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>effect_wuchabieduijue_duizhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,52}}</string>
                <key>sourceSize</key>
                <string>{115,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
            <key>size</key>
            <string>{115,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c95f63d604cfff3a960ee17ae6c91fc$</string>
            <key>textureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
        </dict>
    </dict>
</plist>
