<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangyangcheng_guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{32,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>effect_jinjiangyangcheng_guangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,160}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangyangcheng_guangquan.png</string>
            <key>size</key>
            <string>{164,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a03b59d71ba6c3a9ff9e5473e55536f8$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangyangcheng_guangquan.png</string>
        </dict>
    </dict>
</plist>
