<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiangbreak_jiesuotianfu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{387,38}}</string>
                <key>sourceSize</key>
                <string>{389,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiangbreak_jiesuotianfu.png</string>
            <key>size</key>
            <string>{42,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bcbd849ea1a94c30e00f431744803b$</string>
            <key>textureFileName</key>
            <string>effect_wujiangbreak_jiesuotianfu.png</string>
        </dict>
    </dict>
</plist>
