<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_herolevelup_star_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>effect_herolevelup_star_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,117}}</string>
                <key>sourceSize</key>
                <string>{73,117}</string>
            </dict>
            <key>effect_herolevelup_star_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{91,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,81}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_herolevelup_star_1.png</string>
            <key>size</key>
            <string>{121,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9f74d69795008c3ee00c796ec8d490$</string>
            <key>textureFileName</key>
            <string>effect_herolevelup_star_1.png</string>
        </dict>
    </dict>
</plist>
