<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_biankuangssro_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,466}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{164,466}}</string>
                <key>sourceSize</key>
                <string>{178,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_biankuangssro.png</string>
            <key>size</key>
            <string>{168,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc710a156d9c70f98f9d7d75598d7a0$</string>
            <key>textureFileName</key>
            <string>effect_biankuangssro.png</string>
        </dict>
    </dict>
</plist>
