<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huanggongguanqia_zhuguang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>effect_huanggongguanqia_zhuguang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huanggongguanqia_zhuguang2.png</string>
            <key>size</key>
            <string>{51,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad359be75c6d64b058db0b8351001e0$</string>
            <key>textureFileName</key>
            <string>effect_huanggongguanqia_zhuguang2.png</string>
        </dict>
    </dict>
</plist>
