<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,26},{47,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>effect_touxian_keep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,348},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,226},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,282},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,78},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,458},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,218},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,290},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,162},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,98},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,404},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,142},{50,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>effect_touxian_keep_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,348},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,226},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,282},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,78},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,458},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,218},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,290},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,162},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,447},{20,22}}</string>
                <key>offset</key>
                <string>{-72,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{20,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,368},{34,22}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{34,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,98},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,391},{54,22}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{54,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,327},{62,22}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{62,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,263},{62,22}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{62,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,74},{64,22}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{64,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,50},{64,22}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,9},{64,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,26},{64,22}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,9},{64,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,199},{62,22}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,9},{62,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,194},{50,22}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,9},{50,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,344},{34,22}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,9},{34,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,2},{18,22}}</string>
                <key>offset</key>
                <string>{63,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,9},{18,22}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,404},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,218},{2,2}}</string>
                <key>offset</key>
                <string>{71,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,28},{2,2}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,78},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{180,40}</string>
            </dict>
            <key>effect_touxian_keep_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,392},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,32}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>effect_touxian_keep_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,501},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>effect_touxian_keep_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,556},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,55}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>effect_touxian_keep_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,199},{300,191}}</string>
                <key>offset</key>
                <string>{54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,122},{300,191}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,392},{298,191}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,121},{298,191}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,692},{298,189}}</string>
                <key>offset</key>
                <string>{54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,123},{298,189}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,199},{300,191}}</string>
                <key>offset</key>
                <string>{54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,122},{300,191}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{300,191}}</string>
                <key>offset</key>
                <string>{54,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,123},{300,191}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,218},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,195}}</string>
                <key>offset</key>
                <string>{54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,122},{300,195}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{300,193}}</string>
                <key>offset</key>
                <string>{54,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,121},{300,193}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,195}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,119},{300,195}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,197},{300,193}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,120},{300,193}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,193}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,120},{300,193}}</string>
                <key>sourceSize</key>
                <string>{408,431}</string>
            </dict>
            <key>effect_touxian_keep_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{187,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{187,53}}</string>
                <key>sourceSize</key>
                <string>{189,55}</string>
            </dict>
            <key>effect_touxian_keep_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{93,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,22}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>effect_touxian_keep_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,512},{178,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,59}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>effect_touxian_keep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,290},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,162},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,98},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_keep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,404},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_keep.png</string>
            <key>size</key>
            <string>{1024,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7905b37a52b843437db7986105038bcd$</string>
            <key>textureFileName</key>
            <string>effect_touxian_keep.png</string>
        </dict>
    </dict>
</plist>
