<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujianglevelup_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,169},{231,328}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,84},{231,328}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{385,414}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{385,414}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,363},{387,410}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,26},{387,410}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,389},{381,410}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,26},{381,410}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,672},{361,404}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,25},{361,404}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,772},{189,384}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,20},{189,384}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,2},{165,332}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,65},{165,332}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,410},{35,80}}</string>
                <key>offset</key>
                <string>{64,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,163},{35,80}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,492},{11,12}}</string>
                <key>offset</key>
                <string>{76,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,224},{11,12}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{293,420}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,12},{293,420}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,402},{309,410}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,24},{309,410}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{371,402}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,32},{371,402}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,406}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{451,406}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,752},{349,410}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,27},{349,410}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,2},{359,412}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,24},{359,412}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,297},{373,414}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,23},{373,414}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
            <key>effect_wujianglevelup_light_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{379,412}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,25},{379,412}}</string>
                <key>sourceSize</key>
                <string>{499,438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujianglevelup_light.png</string>
            <key>size</key>
            <string>{2041,1164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7a7854ccca39c5ab043a46fc34222c$</string>
            <key>textureFileName</key>
            <string>effect_wujianglevelup_light.png</string>
        </dict>
    </dict>
</plist>
