<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fudao_huanggong_qilin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,44},{6,6}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{6,6}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{36,26}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,18},{32,20}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{32,20}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,98},{26,10}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{22,14}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{22,14}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,98},{24,24}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,98},{26,32}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,52},{44,38}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{46,40}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,40}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>effect_fudao_huanggong_qilin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,44},{44,34}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fudao_huanggong_qilin.png</string>
            <key>size</key>
            <string>{126,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19c98ec5ba01a9ec5a39168c80abadd4$</string>
            <key>textureFileName</key>
            <string>effect_fudao_huanggong_qilin.png</string>
        </dict>
    </dict>
</plist>
