<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chongzhi_guangyun6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,86}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{66,86}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chongzhi_guangyun6.png</string>
            <key>size</key>
            <string>{70,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb927b619f22d5f22e65cf7002a2ec7$</string>
            <key>textureFileName</key>
            <string>effect_chongzhi_guangyun6.png</string>
        </dict>
    </dict>
</plist>
