<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_battle_hit_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>num_battle_hit_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,51},{31,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,13}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
            <key>num_battle_hit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,72},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>num_battle_hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>num_battle_hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>num_battle_hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>num_battle_hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>num_battle_hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,107},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>num_battle_hit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>num_battle_hit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,144},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>num_battle_hit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,37},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>num_battle_hit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_battle_hit.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08fb96967a84dfcde75875aecded8304$</string>
            <key>textureFileName</key>
            <string>num_battle_hit.png</string>
        </dict>
    </dict>
</plist>
