<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,230}}</string>
                <key>sourceSize</key>
                <string>{310,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu_logo.png</string>
            <key>size</key>
            <string>{234,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:259d60b5f2f9e3d13a44b4e650218390$</string>
            <key>textureFileName</key>
            <string>effect_denglu_logo.png</string>
        </dict>
    </dict>
</plist>
