<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangzhaoma_yuanquan_lvse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{364,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangzhaoma_yuanquan_lvse.png</string>
            <key>size</key>
            <string>{368,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720810afb8280c0941adb215878ee721$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangzhaoma_yuanquan_lvse.png</string>
        </dict>
    </dict>
</plist>
