<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bg5_xingongnengkaiqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{225,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,58}}</string>
                <key>sourceSize</key>
                <string>{229,62}</string>
            </dict>
            <key>effect_bg5_xingongnengkaiqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,2}}</string>
                <key>sourceSize</key>
                <string>{118,4}</string>
            </dict>
            <key>effect_bg5_xingongnengkaiqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,6},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>effect_bg5_xingongnengkaiqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>effect_bg5_xingongnengkaiqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,233},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>effect_bg5_xingongnengkaiqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{115,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,2}}</string>
                <key>sourceSize</key>
                <string>{117,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bg5_xingongnengkaiqi.png</string>
            <key>size</key>
            <string>{124,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0844c395fbcc9c0376fcb4e15af00cc$</string>
            <key>textureFileName</key>
            <string>effect_bg5_xingongnengkaiqi.png</string>
        </dict>
    </dict>
</plist>
