<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fail_chouduan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{86,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,169}}</string>
                <key>sourceSize</key>
                <string>{86,169}</string>
            </dict>
            <key>effect_fail_chouduan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{97,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,178}}</string>
                <key>sourceSize</key>
                <string>{97,178}</string>
            </dict>
            <key>effect_fail_chouduan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,105}}</string>
                <key>sourceSize</key>
                <string>{204,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fail_chouduan.png</string>
            <key>size</key>
            <string>{208,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44e93f98edcf5e419f8e934337e201b5$</string>
            <key>textureFileName</key>
            <string>effect_fail_chouduan.png</string>
        </dict>
    </dict>
</plist>
