<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinnang_qisha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,134},{77,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,73},{77,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{75,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{75,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,197},{69,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{69,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,256},{63,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{63,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,344},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,317},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,301},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{63,59}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{63,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,258},{63,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{63,41}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,195},{69,59}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{69,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,136},{75,59}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{75,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{77,59}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{77,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,73},{77,61}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{77,61}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{77,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{77,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinnang_qisha.png</string>
            <key>size</key>
            <string>{239,393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de27adb1dc128fe00e6dd4987937f53f$</string>
            <key>textureFileName</key>
            <string>effect_jinnang_qisha.png</string>
        </dict>
    </dict>
</plist>
