<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xiyingxinchun_chunnian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,475}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{81,475}}</string>
                <key>sourceSize</key>
                <string>{87,527}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{50,153}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{50,153}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,54},{50,151}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,123},{50,151}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,210},{50,127}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,156},{50,127}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,413},{50,95}}</string>
                <key>offset</key>
                <string>{0,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,190},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,413},{50,63}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,222},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{50,29}}</string>
                <key>offset</key>
                <string>{0,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,256},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{40,13}}</string>
                <key>offset</key>
                <string>{3,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,13}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,262},{50,43}}</string>
                <key>offset</key>
                <string>{0,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,366},{50,73}}</string>
                <key>offset</key>
                <string>{0,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,73}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,314},{50,97}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{50,97}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,314},{50,109}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{50,109}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,262},{50,121}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{50,121}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,158},{50,131}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,60},{50,131}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
            <key>effect_xiyingxinchun_chunnian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,106},{50,141}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{50,141}}</string>
                <key>sourceSize</key>
                <string>{50,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xiyingxinchun_chunnian.png</string>
            <key>size</key>
            <string>{255,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b1d4fe3ddbd5cc53b35b770e9e78088$</string>
            <key>textureFileName</key>
            <string>effect_xiyingxinchun_chunnian.png</string>
        </dict>
    </dict>
</plist>
