<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhihuanchenggong_zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,267},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{263,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{263,85}}</string>
                <key>sourceSize</key>
                <string>{281,91}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{263,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{263,85}}</string>
                <key>sourceSize</key>
                <string>{281,91}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{366,149}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1},{366,149}}</string>
                <key>sourceSize</key>
                <string>{406,161}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,149}}</string>
                <key>sourceSize</key>
                <string>{392,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhihuanchenggong_zi.png</string>
            <key>size</key>
            <string>{240,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee2c9a5fc7fb47284b8266c22dcc4ec8$</string>
            <key>textureFileName</key>
            <string>effect_zhihuanchenggong_zi.png</string>
        </dict>
    </dict>
</plist>
