<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jubaopen_hongkuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{109,32}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{109,32}}</string>
                <key>sourceSize</key>
                <string>{213,36}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{122,23}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{122,23}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{142,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{142,23}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{142,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,25}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,238},{152,23}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{152,23}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,191},{152,23}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{152,23}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{71,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{71,26}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{111,32}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{213,36}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,238},{570,20}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{570,20}}</string>
                <key>sourceSize</key>
                <string>{596,30}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{104,69}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{104,69}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,250},{48,15}}</string>
                <key>offset</key>
                <string>{-48,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{48,15}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,200},{48,15}}</string>
                <key>offset</key>
                <string>{-48,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{48,15}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{78,17}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{78,17}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,120},{78,17}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{78,17}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>effect_jubaopen_hongkuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,23}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{122,23}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jubaopen_hongkuang.png</string>
            <key>size</key>
            <string>{127,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74f17b5f543161c3497dc0540f01d242$</string>
            <key>textureFileName</key>
            <string>effect_jubaopen_hongkuang.png</string>
        </dict>
    </dict>
</plist>
