<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ssr_hongur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{150,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{140,294}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,294}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,294}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,294}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,302},{144,294}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,294}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,304},{144,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,144},{142,286}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{142,286}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,606},{148,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{148,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,288},{126,282}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{126,282}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,606},{130,296}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{130,296}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{132,300}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{132,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,304},{144,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,300}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{140,298}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,298}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_ssr_hongur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,606},{140,296}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{140,296}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ssr_hongur.png</string>
            <key>size</key>
            <string>{1018,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b2659a708827e2b3c4a2246f1663b9a$</string>
            <key>textureFileName</key>
            <string>effect_ssr_hongur.png</string>
        </dict>
    </dict>
</plist>
