<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhucheng14_yangguang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{237,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,271}}</string>
                <key>sourceSize</key>
                <string>{237,271}</string>
            </dict>
            <key>effect_zhucheng14_yangguang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{782,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{782,408}}</string>
                <key>sourceSize</key>
                <string>{782,408}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhucheng14_yangguang1.png</string>
            <key>size</key>
            <string>{786,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8205d1a2d46f38fcbfaef69caec335f$</string>
            <key>textureFileName</key>
            <string>effect_zhucheng14_yangguang1.png</string>
        </dict>
    </dict>
</plist>
