<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heikuang_shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,490},{18,19}}</string>
                <key>offset</key>
                <string>{-135,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{18,19}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,237},{156,31}}</string>
                <key>offset</key>
                <string>{-62,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{156,31}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,237},{170,33}}</string>
                <key>offset</key>
                <string>{-54,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{170,33}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,39},{182,35}}</string>
                <key>offset</key>
                <string>{-47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{182,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{196,35}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{196,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,25},{210,35}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{210,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,453},{208,35}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{208,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{228,35}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{228,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,35}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{240,35}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{214,33}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{214,33}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,237},{204,33}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,11},{204,33}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{36,21}}</string>
                <key>offset</key>
                <string>{-128,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{36,21}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,237},{202,33}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{202,33}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,237},{200,33}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,11},{200,33}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,237},{198,31}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,13},{198,31}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,39},{192,31}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,13},{192,31}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,39},{192,31}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,14},{192,31}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,237},{192,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,16},{192,29}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,39},{192,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,16},{192,29}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,39},{192,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,16},{192,29}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,39},{192,29}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,16},{192,29}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,237},{126,21}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,20},{126,21}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{56,23}}</string>
                <key>offset</key>
                <string>{-121,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{56,23}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,39},{72,25}}</string>
                <key>offset</key>
                <string>{-113,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{72,25}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,39},{86,25}}</string>
                <key>offset</key>
                <string>{-105,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{86,25}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,409},{100,25}}</string>
                <key>offset</key>
                <string>{-96,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{100,25}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,395},{108,27}}</string>
                <key>offset</key>
                <string>{-90,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{108,27}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,379},{126,29}}</string>
                <key>offset</key>
                <string>{-78,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{126,29}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
            <key>effect_heikuang_shandian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,237},{140,31}}</string>
                <key>offset</key>
                <string>{-70,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{140,31}}</string>
                <key>sourceSize</key>
                <string>{320,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heikuang_shandian.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1c4b801e18f4ae1554c5a24e5903c4$</string>
            <key>textureFileName</key>
            <string>effect_heikuang_shandian.png</string>
        </dict>
    </dict>
</plist>
