<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshou_shuiwen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshou_shuiwen.png</string>
            <key>size</key>
            <string>{44,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4215a7296ad6aa3211cd4406fb7c47f0$</string>
            <key>textureFileName</key>
            <string>effect_shenshou_shuiwen.png</string>
        </dict>
    </dict>
</plist>
