<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xiaoxingxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,232},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>effect_xiaoxingxing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{120,121}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,123}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{120,119}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,119}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,124},{108,96}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{108,96}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>effect_xiaoxingxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,222},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>effect_xiaoxingxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,232},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{78,78}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>effect_xiaoxingxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{86,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{86,87}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,222},{92,91}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{92,91}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{102,101}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,123},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{110,109}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,119},{112,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{112,111}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
            <key>effect_xiaoxingxing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{116,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{116,115}}</string>
                <key>sourceSize</key>
                <string>{124,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xiaoxingxing.png</string>
            <key>size</key>
            <string>{491,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12dcfb95c40a126114f46a00f2f73b3$</string>
            <key>textureFileName</key>
            <string>effect_xiaoxingxing.png</string>
        </dict>
    </dict>
</plist>
