<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhucheng_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,422},{538,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,193}}</string>
                <key>sourceSize</key>
                <string>{538,193}</string>
            </dict>
            <key>effect_zhucheng_yun_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{204,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,43}}</string>
                <key>sourceSize</key>
                <string>{204,43}</string>
            </dict>
            <key>effect_zhucheng_yun_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,156},{242,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,89}}</string>
                <key>sourceSize</key>
                <string>{242,89}</string>
            </dict>
            <key>effect_zhucheng_yun_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,313},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>effect_zhucheng_yun_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{227,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,81}}</string>
                <key>sourceSize</key>
                <string>{227,81}</string>
            </dict>
            <key>effect_zhucheng_yun_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,128},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>effect_zhucheng_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,124}}</string>
                <key>sourceSize</key>
                <string>{389,124}</string>
            </dict>
            <key>effect_zhucheng_yun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{199,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,72}}</string>
                <key>sourceSize</key>
                <string>{199,72}</string>
            </dict>
            <key>effect_zhucheng_yun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,353},{129,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,67}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>effect_zhucheng_yun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,400},{171,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,47}}</string>
                <key>sourceSize</key>
                <string>{171,47}</string>
            </dict>
            <key>effect_zhucheng_yun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{206,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,68}}</string>
                <key>sourceSize</key>
                <string>{206,68}</string>
            </dict>
            <key>effect_zhucheng_yun_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,304},{182,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,47}}</string>
                <key>sourceSize</key>
                <string>{182,47}</string>
            </dict>
            <key>effect_zhucheng_yun_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{260,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,91}}</string>
                <key>sourceSize</key>
                <string>{260,91}</string>
            </dict>
            <key>effect_zhucheng_yun_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{309,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,116}}</string>
                <key>sourceSize</key>
                <string>{309,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhucheng_yun.png</string>
            <key>size</key>
            <string>{511,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212b504d1b564d50c2f5dc459099ba8b$</string>
            <key>textureFileName</key>
            <string>effect_zhucheng_yun.png</string>
        </dict>
    </dict>
</plist>
