<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hejilibao_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,218}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,218}}</string>
                <key>sourceSize</key>
                <string>{241,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hejilibao_box.png</string>
            <key>size</key>
            <string>{237,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3784c94749c869164109fb88314dbbb0$</string>
            <key>textureFileName</key>
            <string>effect_hejilibao_box.png</string>
        </dict>
    </dict>
</plist>
