<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhihuanchenggong_zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,9},{384,102}}</string>
                <key>sourceSize</key>
                <string>{468,120}</string>
            </dict>
            <key>effect_zhihuanchenggong_zi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,9},{384,102}}</string>
                <key>sourceSize</key>
                <string>{468,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhihuanchenggong_zi.png</string>
            <key>size</key>
            <string>{146,679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7943902a5216526cfe574a4a5d10f53$</string>
            <key>textureFileName</key>
            <string>effect_zhihuanchenggong_zi.png</string>
        </dict>
    </dict>
</plist>
