<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juntuanzhan_guangqiang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,230}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{200,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juntuanzhan_guangqiang2.png</string>
            <key>size</key>
            <string>{152,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b75ab11cdde825c2639eac6a70be33f0$</string>
            <key>textureFileName</key>
            <string>effect_juntuanzhan_guangqiang2.png</string>
        </dict>
    </dict>
</plist>
