<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujianglevelup_white_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>effect_wujianglevelup_white_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{78,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{74,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{66,74}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{68,72}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{68,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,226},{64,70}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{64,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{62,68}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{62,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,288},{60,66}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{60,66}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,374},{58,62}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{58,62}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,350},{62,58}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{62,58}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,332},{32,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{32,36}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,366},{60,54}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{60,54}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,292},{66,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{66,50}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{66,28}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{66,28}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,344},{64,28}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{64,28}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{62,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>effect_wujianglevelup_white_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,288},{38,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{38,42}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,410},{48,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{48,48}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{60,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{60,58}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,218},{70,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{70,68}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,148},{70,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>effect_wujianglevelup_white_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,76},{70,68}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{70,68}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujianglevelup_white.png</string>
            <key>size</key>
            <string>{256,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f91a4748045b8eaf91b75100d6a35e5c$</string>
            <key>textureFileName</key>
            <string>effect_wujianglevelup_white.png</string>
        </dict>
    </dict>
</plist>
