<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hongshengjin_daoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{317,104}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{317,104}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,309},{311,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{311,104}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{305,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{305,110}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,110}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{305,110}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,622},{301,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{301,104}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{257,104}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{257,104}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
            <key>effect_hongshengjin_daoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{101,66}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,24},{101,66}}</string>
                <key>sourceSize</key>
                <string>{325,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hongshengjin_daoguang.png</string>
            <key>size</key>
            <string>{226,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bddec0f003d7c0af73f284ee5ad3859$</string>
            <key>textureFileName</key>
            <string>effect_hongshengjin_daoguang.png</string>
        </dict>
    </dict>
</plist>
