<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_pofang_pozhao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{318,218}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,144},{318,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>effect_pofang_pozhao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{356,168}}</string>
                <key>sourceSize</key>
                <string>{396,168}</string>
            </dict>
            <key>effect_pofang_pozhao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{294,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,125}}</string>
                <key>sourceSize</key>
                <string>{294,125}</string>
            </dict>
            <key>effect_pofang_pozhao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,298},{192,162}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{192,162}}</string>
                <key>sourceSize</key>
                <string>{196,188}</string>
            </dict>
            <key>effect_pofang_pozhao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,492},{62,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>effect_pofang_pozhao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{230,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{230,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_pofang_pozhao.png</string>
            <key>size</key>
            <string>{487,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:431d04fe613834bfdfcf9415f94682b2$</string>
            <key>textureFileName</key>
            <string>effect_pofang_pozhao.png</string>
        </dict>
    </dict>
</plist>
