<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lingpai_datx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,238},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>effect_lingpai_datx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,134},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,976},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,134},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,134},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,968},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,968},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,697},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,976},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,134},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,976},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,134},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,134},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,968},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,968},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,697},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,134},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,134},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,512},{84,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{84,56}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>effect_lingpai_datx_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{104,228}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{104,228}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,518},{106,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{106,226}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,739},{106,212}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,52},{106,212}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,416},{108,180}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,91},{108,180}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{110,176}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,85},{110,176}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,746},{116,220}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{116,220}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{122,226}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{122,226}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,134},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{124,234}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{124,234}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{124,252}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{124,252}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,260}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{122,260}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{76,198}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{76,198}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,238},{78,212}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{78,212}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,479},{94,216}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,49},{94,216}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,210},{96,204}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,60},{96,204}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{100,206}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{100,206}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,261},{102,216}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,51},{102,216}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>effect_lingpai_datx_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,858},{130,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,726},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,594},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,462},{130,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,198},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,380},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,598},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,330},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,862},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,968},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,730},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,862},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,598},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,730},{130,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_lingpai_datx_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,134},{116,117}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{116,117}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>effect_lingpai_datx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,968},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,953},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_lingpai_datx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,697},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_lingpai_datx.png</string>
            <key>size</key>
            <string>{774,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e401b054eb2a7a515b5ab3de9c7396b9$</string>
            <key>textureFileName</key>
            <string>effect_lingpai_datx.png</string>
        </dict>
    </dict>
</plist>
