<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiang_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,509}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{588,509}}</string>
                <key>sourceSize</key>
                <string>{602,533}</string>
            </dict>
            <key>effect_wujiang_up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,962},{302,302}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{302,302}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,652},{308,308}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{308,308}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{314,314}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{314,314}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{324,324}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{324,324}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,328},{322,322}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{322,322}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{302,302}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{302,302}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{204,200}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{204,200}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{104,108}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,119},{104,108}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,112},{102,108}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,119},{102,108}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,222},{48,56}}</string>
                <key>offset</key>
                <string>{-33,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,118},{48,56}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1460},{168,140}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,109},{168,140}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1266},{182,192}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{182,192}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1295},{240,240}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{240,240}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1045},{248,248}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,47},{248,248}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,785},{260,258}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{260,258}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,513},{270,270}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{270,270}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1266},{280,280}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{280,280}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
            <key>effect_wujiang_up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{292,292}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{292,292}}</string>
                <key>sourceSize</key>
                <string>{340,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiang_up.png</string>
            <key>size</key>
            <string>{1024,1629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62e697e5a2377eb43ecad1ddc7cbee3$</string>
            <key>textureFileName</key>
            <string>effect_wujiang_up.png</string>
        </dict>
    </dict>
</plist>
