<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu8_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{441,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,154}}</string>
                <key>sourceSize</key>
                <string>{441,154}</string>
            </dict>
            <key>effect_denglu8_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{506,223}}</string>
                <key>sourceSize</key>
                <string>{538,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu8_logo.png</string>
            <key>size</key>
            <string>{510,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88f50fd944305f9df7d89cf7e579931b$</string>
            <key>textureFileName</key>
            <string>effect_denglu8_logo.png</string>
        </dict>
    </dict>
</plist>
