<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xiujiang_yuanquanchengse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{579,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,579}}</string>
                <key>sourceSize</key>
                <string>{579,579}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xiujiang_yuanquanchengse.png</string>
            <key>size</key>
            <string>{583,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d579fc44ed82a7ce5fb6fca3e9063812$</string>
            <key>textureFileName</key>
            <string>effect_xiujiang_yuanquanchengse.png</string>
        </dict>
    </dict>
</plist>
