<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_duijiudangerensjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,116},{39,35}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,95},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,71}}</string>
                <key>sourceSize</key>
                <string>{196,71}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,95},{67,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{85,33}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,51},{46,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,75},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,164},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,95},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,95},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,177},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_duijiudangerensjh.png</string>
            <key>size</key>
            <string>{253,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92fdcb71b76e0a392949970627dd7370$</string>
            <key>textureFileName</key>
            <string>effect_touxian_duijiudangerensjh.png</string>
        </dict>
    </dict>
</plist>
