<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_jinnang_xiangzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,220},{52,34}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,43},{52,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{58,46}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{58,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,50},{50,36}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{50,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{58,46}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{58,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,150},{70,56}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{70,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,62}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{72,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,76},{72,62}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_icon_jinnang_xiangzi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,150},{68,56}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_jinnang_xiangzi.png</string>
            <key>size</key>
            <string>{248,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51de3889dc74e66d40e895bd38259e54$</string>
            <key>textureFileName</key>
            <string>effect_icon_jinnang_xiangzi.png</string>
        </dict>
    </dict>
</plist>
