<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_xuanjue_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,33}}</string>
                <key>sourceSize</key>
                <string>{156,33}</string>
            </dict>
            <key>effect_xuanjue_yun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{286,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,76}}</string>
                <key>sourceSize</key>
                <string>{286,76}</string>
            </dict>
            <key>effect_xuanjue_yun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,37},{269,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,58}}</string>
                <key>sourceSize</key>
                <string>{269,58}</string>
            </dict>
            <key>effect_xuanjue_yun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{280,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,60}}</string>
                <key>sourceSize</key>
                <string>{280,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_xuanjue_yun.png</string>
            <key>size</key>
            <string>{238,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd4f38a68a4374826d86f120660179d$</string>
            <key>textureFileName</key>
            <string>effect_xuanjue_yun.png</string>
        </dict>
    </dict>
</plist>
