<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_BOSShudun_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,819},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>effect_BOSShudun_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,847},{306,258}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{306,258}}</string>
                <key>sourceSize</key>
                <string>{382,344}</string>
            </dict>
            <key>effect_BOSShudun_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,847},{306,258}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{306,258}}</string>
                <key>sourceSize</key>
                <string>{382,344}</string>
            </dict>
            <key>effect_BOSShudun_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,433},{240,201}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{240,201}}</string>
                <key>sourceSize</key>
                <string>{322,303}</string>
            </dict>
            <key>effect_BOSShudun_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,433},{240,201}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{240,201}}</string>
                <key>sourceSize</key>
                <string>{322,303}</string>
            </dict>
            <key>effect_BOSShudun_skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,675},{142,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{142,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>effect_BOSShudun_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,429}}</string>
                <key>sourceSize</key>
                <string>{558,429}</string>
            </dict>
            <key>effect_BOSShudun_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,293},{363,272}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{363,272}}</string>
                <key>sourceSize</key>
                <string>{445,360}</string>
            </dict>
            <key>effect_BOSShudun_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{369,289}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{369,289}}</string>
                <key>sourceSize</key>
                <string>{443,351}</string>
            </dict>
            <key>effect_BOSShudun_skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{73,93}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,39},{73,93}}</string>
                <key>sourceSize</key>
                <string>{157,169}</string>
            </dict>
            <key>effect_BOSShudun_skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{316,273}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{316,273}}</string>
                <key>sourceSize</key>
                <string>{378,349}</string>
            </dict>
            <key>effect_BOSShudun_skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{353,275}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,33},{353,275}}</string>
                <key>sourceSize</key>
                <string>{431,349}</string>
            </dict>
            <key>effect_BOSShudun_skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,567},{331,278}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{331,278}}</string>
                <key>sourceSize</key>
                <string>{395,358}</string>
            </dict>
            <key>effect_BOSShudun_skill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{321,274}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{321,274}}</string>
                <key>sourceSize</key>
                <string>{387,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_BOSShudun_skill.png</string>
            <key>size</key>
            <string>{1008,1261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ab1c200da0d114c8ee098407abbda29$</string>
            <key>textureFileName</key>
            <string>effect_BOSShudun_skill.png</string>
        </dict>
    </dict>
</plist>
