<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huodongqiutian_yuenan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{358,201}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{358,201}}</string>
                <key>sourceSize</key>
                <string>{358,231}</string>
            </dict>
            <key>effect_huodongqiutian_yuenan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,214}}</string>
                <key>sourceSize</key>
                <string>{390,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huodongqiutian_yuenan.png</string>
            <key>size</key>
            <string>{394,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87de1146c02f8e9ab0de219105d70ed0$</string>
            <key>textureFileName</key>
            <string>effect_huodongqiutian_yuenan.png</string>
        </dict>
    </dict>
</plist>
