<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juntuanbaoxiang_xx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>effect_juntuanbaoxiang_xx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>effect_juntuanbaoxiang_xx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juntuanbaoxiang_xx.png</string>
            <key>size</key>
            <string>{232,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d4cb28161e6b83e5811bdd7776aa38e$</string>
            <key>textureFileName</key>
            <string>effect_juntuanbaoxiang_xx.png</string>
        </dict>
    </dict>
</plist>
