<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_biaoti_lizi30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>effect_biaoti_lizi30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,15}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>effect_biaoti_lizi30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,26}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_biaoti_lizi30.png</string>
            <key>size</key>
            <string>{126,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d071851beae38a45b51163510548d1$</string>
            <key>textureFileName</key>
            <string>effect_biaoti_lizi30.png</string>
        </dict>
    </dict>
</plist>
