<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bejilibao_allbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{914,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{914,352}}</string>
                <key>sourceSize</key>
                <string>{914,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bejilibao_allbg.png</string>
            <key>size</key>
            <string>{356,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:143380dbb793c3115f7528f2ab000d9e$</string>
            <key>textureFileName</key>
            <string>effect_bejilibao_allbg.png</string>
        </dict>
    </dict>
</plist>
