<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0"><dict><key>angle</key>
<real>349.000000</real>
<key>angleVariance</key>
<real>0.000000</real>
<key>duration</key>
<real>-1.000000</real>
<key>startParticleSize</key>
<real>5.000000</real>
<key>startParticleSizeVariance</key>
<real>5.000000</real>
<key>finishParticleSize</key>
<real>5.000000</real>
<key>finishParticleSizeVariance</key>
<real>8.000000</real>
<key>gravityx</key>
<real>-30.000000</real>
<key>gravityy</key>
<real>-30.000000</real>
<key>maxParticles</key>
<real>5.000000</real>
<key>maxRadius</key>
<real>276.209991</real>
<key>maxRadiusVariance</key>
<real>154.949997</real>
<key>minRadius</key>
<real>0.000000</real>
<key>particleLifespan</key>
<real>7.000000</real>
<key>particleLifespanVariance</key>
<real>0.000000</real>
<key>rotatePerSecond</key>
<real>35.529999</real>
<key>rotatePerSecondVariance</key>
<real>0.000000</real>
<key>rotationEnd</key>
<real>0.000000</real>
<key>rotationEndVariance</key>
<real>360.000000</real>
<key>rotationStart</key>
<real>300.000000</real>
<key>rotationStartVariance</key>
<real>0.000000</real>
<key>sourcePositionVariancex</key>
<real>450.000000</real>
<key>sourcePositionVariancey</key>
<real>150.000000</real>
<key>sourcePositionx</key>
<real>135.000000</real>
<key>sourcePositiony</key>
<real>253.000000</real>
<key>speed</key>
<real>0.000000</real>
<key>speedVariance</key>
<real>0.000000</real>
<key>startColorAlpha</key>
<real>1.000000</real>
<key>startColorBlue</key>
<real>1.000000</real>
<key>startColorGreen</key>
<real>1.000000</real>
<key>startColorRed</key>
<real>1.000000</real>
<key>startColorVarianceAlpha</key>
<real>0.000000</real>
<key>startColorVarianceBlue</key>
<real>0.000000</real>
<key>startColorVarianceGreen</key>
<real>0.000000</real>
<key>startColorVarianceRed</key>
<real>0.000000</real>
<key>finishColorAlpha</key>
<real>1.000000</real>
<key>finishColorBlue</key>
<real>1.000000</real>
<key>finishColorGreen</key>
<real>1.000000</real>
<key>finishColorRed</key>
<real>1.000000</real>
<key>finishColorVarianceAlpha</key>
<real>0.000000</real>
<key>finishColorVarianceBlue</key>
<real>0.000000</real>
<key>finishColorVarianceGreen</key>
<real>0.000000</real>
<key>finishColorVarianceRed</key>
<real>0.000000</real>
<key>tangentialAccelVariance</key>
<real>10.000000</real>
<key>tangentialAcceleration</key>
<real>0.000000</real>
<key>radialAccelVariance</key>
<real>0.000000</real>
<key>radialAcceleration</key>
<real>0.000000</real>
<key>blendFuncSource</key>
<integer>1</integer>
<key>blendFuncDestination</key>
<integer>771</integer>
<key>emitterType</key>
<real>0</real>
<key>textureFileName</key>
<string>qlhb3.png</string>
<key>textureImageData</key>
<string>eJzrDPBz5+WS4mJgYOD19HAJAtIsQMzOwQYk9VPfXAAJFDt5hnAAQQ1HSgeQz1ngEVnMwMB3BIQZp2rzSQMFJUtcI0qC89NKyhOLUhkcU/KTUhU8cxPTU4NSE1MqC0+m2jAwMJ7LDIkoifD1sUrOz9VLBKnRq8gtYGBkCA1x07VgwJTRmFgbdNrvsYHIX9HTOWydRwpvzTimtGBSAG93T8BKltsmZle0NurentvyT6r755KfrYVcmhlLEioL33+1/P60uPDqy1X3itiv/Yk8wfOv9jdzY4JkjcepFVcs73fMrz78/vv+sK910ct54mKbuvvKevN2rHa4vsfDezdPmM9ay69l8m4CMgp5sw9W/meQO209Qfuwo5Bfk9UhCQGhR5lOHHbMhS3JIj+9mWyWci78aPnD4kK48ZtOve6j7rrvUwsez1nGsTVXetvkgJnpLZdN3hYfKXwg2Fg7dd0rpkz/Nh7W7VsFb3GqOr4Pz95aLNlymKPXbtlUM5se4WurHGOXCvIpf2GNmHbfefazjm15J+fvc799dfWzjJNrb82cVf3D0/+aifmeolNrplRJbqvYHuh3s/eSwn71B8ebJ/hs/falQd+7Snvt6pSz+d08vzw0WBbf0Lc8Kd7ic8L0mPlnyZ2eXZHz3Lp/1gidX8eet/BV7OGl0jveTK62O/V26Ydzz9z+PMtJDGHmUw42vHe6ZM/0cj3p96qST5Xu8/x6v7h9Qrh/vlzq67mLP+z8kmUed+0/w56dn1I+bGfeC4z+PE8XxxCOmbpnDPmaHAQcLto3S3NyLrVVm+a0QyDd8NqR4Aq+DF2NF7ke2xYsXXCh4d2FD3wfWuba1px79IzjQFa969uT/kKsDkuZNCO/LimTTmppYpCYfOrvH9UT0oyLHpTYS3PIHv//muHAm6hL/v5lkubnOeWadb/F2gNtZvB09XNZ55TQBAC6zjS+</string>
</dict></plist>
