<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujianglevelup_jujiguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{250,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,100},{178,47}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{208,47}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{208,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,100},{200,43}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{200,43}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,100},{170,35}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,8},{170,35}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,478},{146,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,9},{146,31}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,272},{138,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,8},{138,31}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,412},{130,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{130,29}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,443},{120,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,11},{120,27}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{238,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{238,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,51},{228,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{228,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{234,47}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{234,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,51},{224,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{224,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,302},{196,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{196,47}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,100},{190,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{190,45}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,292},{184,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{184,41}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>effect_wujianglevelup_jujiguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,100},{178,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,5},{178,39}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujianglevelup_jujiguang.png</string>
            <key>size</key>
            <string>{507,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb2a6c47a11cc0e0d7cbf194d1682fe$</string>
            <key>textureFileName</key>
            <string>effect_wujianglevelup_jujiguang.png</string>
        </dict>
    </dict>
</plist>
