<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_fuyao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,206},{14,20}}</string>
                <key>offset</key>
                <string>{-67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{14,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{30,20}}</string>
                <key>offset</key>
                <string>{60,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,11},{30,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,240},{12,20}}</string>
                <key>offset</key>
                <string>{69,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,11},{12,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,204},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,176},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,228},{30,20}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{30,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,150},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,204},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,176},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,228},{46,20}}</string>
                <key>offset</key>
                <string>{-49,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,70},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,150},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,204},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,86},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,176},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxian_fuyao_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,82}}</string>
                <key>sourceSize</key>
                <string>{202,82}</string>
            </dict>
            <key>effect_touxian_fuyao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{46,20}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,240},{46,22}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{46,22}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{48,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,9},{48,22}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,48},{48,20}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,11},{48,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,26},{48,20}}</string>
                <key>offset</key>
                <string>{36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,11},{48,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>effect_touxian_fuyao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,206},{46,20}}</string>
                <key>offset</key>
                <string>{51,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_fuyao.png</string>
            <key>size</key>
            <string>{256,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4baaa9afd8ecef1a2b1eac82286ea734$</string>
            <key>textureFileName</key>
            <string>effect_touxian_fuyao.png</string>
        </dict>
    </dict>
</plist>
