<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hecheng_iconout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_hecheng_iconout_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>effect_hecheng_iconout_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{98,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_hecheng_iconout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{152,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hecheng_iconout.png</string>
            <key>size</key>
            <string>{256,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d6fdecdc60caa233135a5e58ad9b227$</string>
            <key>textureFileName</key>
            <string>effect_hecheng_iconout.png</string>
        </dict>
    </dict>
</plist>
