<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_suolie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_ui_suolie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,139}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,139}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_ui_suolie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,142},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>effect_ui_suolie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,100},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>effect_ui_suolie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,100},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>effect_ui_suolie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_suolie.png</string>
            <key>size</key>
            <string>{249,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73816f9c10bc279507afe0d04ffc44f5$</string>
            <key>textureFileName</key>
            <string>effect_ui_suolie.png</string>
        </dict>
    </dict>
</plist>
