<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fudaokaiqi_texiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{140,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,107}}</string>
                <key>sourceSize</key>
                <string>{140,107}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{163,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,113}}</string>
                <key>sourceSize</key>
                <string>{163,113}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{147,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,112}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,116},{154,113}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{154,113}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{139,117}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{139,117}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>effect_fudaokaiqi_texiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,121},{142,130}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{142,130}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fudaokaiqi_texiao.png</string>
            <key>size</key>
            <string>{512,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:247693e55faa00167f180332e8938e87$</string>
            <key>textureFileName</key>
            <string>effect_fudaokaiqi_texiao.png</string>
        </dict>
    </dict>
</plist>
