<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_baowujinglian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,203},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>effect_baowujinglian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,203},{26,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_baowujinglian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,203},{126,126}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>effect_baowujinglian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,292}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,54},{302,292}}</string>
                <key>sourceSize</key>
                <string>{414,414}</string>
            </dict>
            <key>effect_baowujinglian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_baowujinglian.png</string>
            <key>size</key>
            <string>{507,331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:654142b8ffbe57ecebb0d480e3b3392b$</string>
            <key>textureFileName</key>
            <string>effect_baowujinglian.png</string>
        </dict>
    </dict>
</plist>
