<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiangziji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,108},{13,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>effect_touxiangziji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,246},{55,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>effect_touxiangziji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,303},{60,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>effect_touxiangziji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,56},{62,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>effect_touxiangziji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,120},{60,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>effect_touxiangziji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,365},{59,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,64}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>effect_touxiangziji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{54,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,64}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>effect_touxiangziji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,446},{48,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,64}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>effect_touxiangziji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,352},{44,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,62}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>effect_touxiangziji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,277},{39,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{39,58}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>effect_touxiangziji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,397},{34,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{34,54}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>effect_touxiangziji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,150},{19,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>effect_touxiangziji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,453},{31,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,46}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>effect_touxiangziji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,37}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>effect_touxiangziji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,426},{21,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{21,30}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>effect_touxiangziji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,179},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,21}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>effect_touxiangziji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,36},{32,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{32,84}}</string>
                <key>sourceSize</key>
                <string>{36,90}</string>
            </dict>
            <key>effect_touxiangziji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{26,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,82}}</string>
                <key>sourceSize</key>
                <string>{30,90}</string>
            </dict>
            <key>effect_touxiangziji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{32,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{32,84}}</string>
                <key>sourceSize</key>
                <string>{38,92}</string>
            </dict>
            <key>effect_touxiangziji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,108},{40,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{40,80}}</string>
                <key>sourceSize</key>
                <string>{44,90}</string>
            </dict>
            <key>effect_touxiangziji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{46,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{46,78}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>effect_touxiangziji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{48,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,74}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>effect_touxiangziji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,241},{24,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>effect_touxiangziji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{52,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,70}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>effect_touxiangziji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{56,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{56,66}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>effect_touxiangziji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,290},{60,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>effect_touxiangziji_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{64,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{64,58}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>effect_touxiangziji_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,232},{66,56}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{66,56}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>effect_touxiangziji_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{72,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{72,52}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>effect_touxiangziji_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,182},{74,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,48}}</string>
                <key>sourceSize</key>
                <string>{80,54}</string>
            </dict>
            <key>effect_touxiangziji_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,150},{78,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,40}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>effect_touxiangziji_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{82,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,36}}</string>
                <key>sourceSize</key>
                <string>{90,42}</string>
            </dict>
            <key>effect_touxiangziji_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>effect_touxiangziji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,398},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>effect_touxiangziji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,458},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>effect_touxiangziji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,337},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>effect_touxiangziji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,444},{42,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>effect_touxiangziji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>effect_touxiangziji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiangziji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935a34b1fd833d4af99c050ad8a638b6$</string>
            <key>textureFileName</key>
            <string>effect_touxiangziji.png</string>
        </dict>
    </dict>
</plist>
