<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshu_chouqian_ziguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{270,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,381}}</string>
                <key>sourceSize</key>
                <string>{270,381}</string>
            </dict>
            <key>effect_shenshu_chouqian_ziguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,551}}</string>
                <key>sourceSize</key>
                <string>{550,551}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshu_chouqian_ziguang.png</string>
            <key>size</key>
            <string>{554,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf4dac586c3435a5cc3fdc626162c9de$</string>
            <key>textureFileName</key>
            <string>effect_shenshu_chouqian_ziguang.png</string>
        </dict>
    </dict>
</plist>
