<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,308},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>effect_icon_guangquan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,106},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>effect_icon_guangquan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{99,107}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_icon_guangquan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{99,107}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_icon_guangquan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,220},{85,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{85,107}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_icon_guangquan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{103,107}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_icon_guangquan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{103,107}}</string>
                <key>sourceSize</key>
                <string>{105,113}</string>
            </dict>
            <key>effect_icon_guangquan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,218},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,99}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>effect_icon_guangquan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,110},{106,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,99}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>effect_icon_guangquan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,110},{106,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{106,85}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>effect_icon_guangquan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{106,101}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>effect_icon_guangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,206},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>effect_icon_guangquan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,329},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{106,101}}</string>
                <key>sourceSize</key>
                <string>{112,105}</string>
            </dict>
            <key>effect_icon_guangquan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,410},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>effect_icon_guangquan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,104},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>effect_icon_guangquan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>effect_icon_guangquan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,218},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>effect_icon_guangquan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,326},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>effect_icon_guangquan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{102,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{102,86}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>effect_icon_guangquan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_guangquan.png</string>
            <key>size</key>
            <string>{503,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a9ec51216931b70c305fef19bdcacc$</string>
            <key>textureFileName</key>
            <string>effect_icon_guangquan.png</string>
        </dict>
    </dict>
</plist>
