<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_liaotian_luyin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>effect_liaotian_luyin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>effect_liaotian_luyin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>effect_liaotian_luyin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,79}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_liaotian_luyin.png</string>
            <key>size</key>
            <string>{229,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2d0e5c413298c21dfad015e21aaa81$</string>
            <key>textureFileName</key>
            <string>effect_liaotian_luyin.png</string>
        </dict>
    </dict>
</plist>
