<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_taohuayuan_shui_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{47,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>effect_taohuayuan_shui_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{48,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{52,31}</string>
            </dict>
            <key>effect_taohuayuan_shui_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,24}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>effect_taohuayuan_shui_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{45,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{45,27}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_taohuayuan_shui_1.png</string>
            <key>size</key>
            <string>{54,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735d6fef72a231567dd27f358a1ae374$</string>
            <key>textureFileName</key>
            <string>effect_taohuayuan_shui_1.png</string>
        </dict>
    </dict>
</plist>
