<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiang_jiubeiduipeng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{428,440}}</string>
                <key>sourceSize</key>
                <string>{448,448}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,444},{140,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{140,39}}</string>
                <key>sourceSize</key>
                <string>{166,49}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,747},{141,40}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{141,40}}</string>
                <key>sourceSize</key>
                <string>{161,50}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,444},{138,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{138,40}}</string>
                <key>sourceSize</key>
                <string>{162,50}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,727},{137,41}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{137,41}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,584},{137,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{137,38}}</string>
                <key>sourceSize</key>
                <string>{163,50}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,727},{137,41}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{137,41}}</string>
                <key>sourceSize</key>
                <string>{163,53}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,586},{139,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{139,43}}</string>
                <key>sourceSize</key>
                <string>{159,53}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,747},{140,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{140,42}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,444},{141,43}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{141,43}}</string>
                <key>sourceSize</key>
                <string>{163,55}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,597},{148,43}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{148,43}}</string>
                <key>sourceSize</key>
                <string>{168,55}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,853},{32,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{149,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{149,39}}</string>
                <key>sourceSize</key>
                <string>{169,49}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,676},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1004},{30,17}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,93},{30,17}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,700},{44,17}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,93},{44,17}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,700},{54,19}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{54,19}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,700},{66,19}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,92},{66,19}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,700},{76,19}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,92},{76,19}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{88,31}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{88,31}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,845},{96,37}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,74},{96,37}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,555},{106,43}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,68},{106,43}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,887},{133,129}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,129}}</string>
                <key>sourceSize</key>
                <string>{137,135}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,676},{116,49}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,62},{116,49}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,719},{124,63}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{124,63}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,721},{126,67}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,44},{126,67}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,572},{126,71}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{126,71}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,887},{126,77}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,34},{126,77}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,572},{126,81}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{126,81}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,444},{126,81}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,81}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,572},{126,79}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,79}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,725},{126,79}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,28},{126,79}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,444},{126,79}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,28},{126,79}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,748},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,444},{126,77}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,77}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,721},{126,71}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,71}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,886},{126,63}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,63}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,886},{126,57}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,57}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,721},{126,45}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,45}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,572},{126,37}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,29},{126,37}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,853},{126,31}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{126,31}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,866},{126,19}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{126,19}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,555},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,663},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,748},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,796},{44,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,60}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,796},{43,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{43,57}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,917},{45,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{45,52}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,796},{47,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{47,53}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,73},{50,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{50,54}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,858},{52,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,57}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{54,59}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{54,59}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,948},{53,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{53,62}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,882},{52,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{52,64}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,952},{52,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,67}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{151,40}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{151,40}}</string>
                <key>sourceSize</key>
                <string>{171,50}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,157},{52,68}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{52,68}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,882},{51,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{51,68}}</string>
                <key>sourceSize</key>
                <string>{87,104}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{50,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{50,69}}</string>
                <key>sourceSize</key>
                <string>{86,105}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,849},{33,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{33,70}}</string>
                <key>sourceSize</key>
                <string>{69,106}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,35},{31,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{31,70}}</string>
                <key>sourceSize</key>
                <string>{69,106}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,107},{30,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{30,48}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,700},{29,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{29,23}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,796},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,144},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,58},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{150,39}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{150,39}}</string>
                <key>sourceSize</key>
                <string>{172,51}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,350},{118,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,436},{118,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,556},{118,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{118,82}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,556},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,676},{118,82}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{118,82}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,436},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,230},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,350},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,230},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,444},{147,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{147,38}}</string>
                <key>sourceSize</key>
                <string>{173,52}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,884},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,884},{118,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,796},{116,84}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{116,84}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{122,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,60}}</string>
                <key>sourceSize</key>
                <string>{122,60}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,890},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,69}}</string>
                <key>sourceSize</key>
                <string>{130,69}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,436},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>effect_touxiang_jiubeiduipeng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,587},{140,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{140,39}}</string>
                <key>sourceSize</key>
                <string>{166,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiang_jiubeiduipeng.png</string>
            <key>size</key>
            <string>{814,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067c667dc869cb6d6ffb5092343dd5a4$</string>
            <key>textureFileName</key>
            <string>effect_touxiang_jiubeiduipeng.png</string>
        </dict>
    </dict>
</plist>
