<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jjc_xianshou_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{164,178}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jjc_xianshou_guang.png</string>
            <key>size</key>
            <string>{168,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb38132788c3f0a4e27ec0726cf25d81$</string>
            <key>textureFileName</key>
            <string>effect_jjc_xianshou_guang.png</string>
        </dict>
    </dict>
</plist>
