<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhandou_duijue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,152},{166,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>effect_zhandou_duijue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_zhandou_duijue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{220,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,14}}</string>
                <key>sourceSize</key>
                <string>{220,18}</string>
            </dict>
            <key>effect_zhandou_duijue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,276},{82,420}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{82,420}}</string>
                <key>sourceSize</key>
                <string>{110,460}</string>
            </dict>
            <key>effect_zhandou_duijue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{480,148}}</string>
                <key>sourceSize</key>
                <string>{500,160}</string>
            </dict>
            <key>effect_zhandou_duijue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{785,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{785,132}}</string>
                <key>sourceSize</key>
                <string>{787,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhandou_duijue.png</string>
            <key>size</key>
            <string>{500,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d90fcd6a2c572e2736456b4e8a1ee54f$</string>
            <key>textureFileName</key>
            <string>effect_zhandou_duijue.png</string>
        </dict>
    </dict>
</plist>
