<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuangzhan_hepingguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{82,108}}</string>
                <key>sourceSize</key>
                <string>{90,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuangzhan_hepingguang.png</string>
            <key>size</key>
            <string>{86,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403fa95de4086418c0dcf20bdc0557e2$</string>
            <key>textureFileName</key>
            <string>effect_kuangzhan_hepingguang.png</string>
        </dict>
    </dict>
</plist>
