<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiang_denglong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,245},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,245},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,181},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,181},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,117},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,276},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,245},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,245},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{62,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{62,44}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,245},{62,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,181},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,181},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,117},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,276},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,245},{62,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,406},{33,33}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,404},{33,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,379},{33,33}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,338},{32,35}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,35}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>effect_touxiang_denglong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,336},{32,36}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,36}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>effect_touxiang_denglong_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{31,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{31,35}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>effect_touxiang_denglong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,303},{31,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{31,37}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>effect_touxiang_denglong_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{31,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{31,37}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>effect_touxiang_denglong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,309},{33,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{33,36}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,181},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,345},{33,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,344},{33,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,344},{33,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,309},{33,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{33,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{33,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{33,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{33,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,379},{31,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{31,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>effect_touxiang_denglong_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,372},{32,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>effect_touxiang_denglong_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,370},{32,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>effect_touxiang_denglong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,181},{62,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{62,52}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,309},{33,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,34}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>effect_touxiang_denglong_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{24,21}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,21}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>effect_touxiang_denglong_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,140},{17,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,23}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>effect_touxiang_denglong_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{113,113}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,113}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>effect_touxiang_denglong_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,213},{11,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,46}}</string>
                <key>sourceSize</key>
                <string>{11,46}</string>
            </dict>
            <key>effect_touxiang_denglong_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,165},{11,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,46}}</string>
                <key>sourceSize</key>
                <string>{11,46}</string>
            </dict>
            <key>effect_touxiang_denglong_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,114}}</string>
                <key>sourceSize</key>
                <string>{59,114}</string>
            </dict>
            <key>effect_touxiang_denglong_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,28},{110,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,20}}</string>
                <key>sourceSize</key>
                <string>{110,20}</string>
            </dict>
            <key>effect_touxiang_denglong_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
            <key>effect_touxiang_denglong_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>effect_touxiang_denglong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,117},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,54}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,117},{62,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,276},{60,40}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{60,40}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>effect_touxiang_denglong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{62,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiang_denglong.png</string>
            <key>size</key>
            <string>{256,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b37e6a0d213f05e9a623699862e1de$</string>
            <key>textureFileName</key>
            <string>effect_touxiang_denglong.png</string>
        </dict>
    </dict>
</plist>
