<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jingying_huo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{145,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,59}}</string>
                <key>sourceSize</key>
                <string>{145,61}</string>
            </dict>
            <key>effect_jingying_huo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,93},{167,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{167,61}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>effect_jingying_huo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,89}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{208,89}}</string>
                <key>sourceSize</key>
                <string>{208,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jingying_huo.png</string>
            <key>size</key>
            <string>{232,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e91110f8b812a09be59323667b7c708$</string>
            <key>textureFileName</key>
            <string>effect_jingying_huo.png</string>
        </dict>
    </dict>
</plist>
