<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_equip_shen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,75},{49,17}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,58},{49,17}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{73,31}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,31}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{71,21}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,21}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{53,27}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,48},{53,27}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{61,37}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,38},{61,37}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,201},{69,47}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{69,47}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,126},{71,55}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{71,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,59}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{75,49}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>effect_icon_equip_shen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,53},{75,41}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_equip_shen.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04cb5cf5feee34ee56786cae750f910c$</string>
            <key>textureFileName</key>
            <string>effect_icon_equip_shen.png</string>
        </dict>
    </dict>
</plist>
