<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bianshentujian_xxfei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,173},{46,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{58,85}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,221},{51,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,106}}</string>
                <key>sourceSize</key>
                <string>{55,110}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{49,135}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,135}}</string>
                <key>sourceSize</key>
                <string>{55,139}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{36,146}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,146}}</string>
                <key>sourceSize</key>
                <string>{40,152}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{30,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,162}}</string>
                <key>sourceSize</key>
                <string>{34,166}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{43,179}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,179}}</string>
                <key>sourceSize</key>
                <string>{45,185}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,188}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,188}}</string>
                <key>sourceSize</key>
                <string>{67,196}</string>
            </dict>
            <key>effect_bianshentujian_xxfei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,89},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,82}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bianshentujian_xxfei.png</string>
            <key>size</key>
            <string>{252,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69a389c8ff947fb41b6bf0205fd9aad9$</string>
            <key>textureFileName</key>
            <string>effect_bianshentujian_xxfei.png</string>
        </dict>
    </dict>
</plist>
