<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_juntuanzhan_guangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{71,115}}</string>
                <key>sourceSize</key>
                <string>{71,121}</string>
            </dict>
            <key>effect_juntuanzhan_guangquan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{176,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{176,90}}</string>
                <key>sourceSize</key>
                <string>{206,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_juntuanzhan_guangquan.png</string>
            <key>size</key>
            <string>{119,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1de0db48cd78ecacd9d40bf8b9e367$</string>
            <key>textureFileName</key>
            <string>effect_juntuanzhan_guangquan.png</string>
        </dict>
    </dict>
</plist>
