<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hongshengjin_changjings_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,475},{76,89}}</string>
                <key>offset</key>
                <string>{-14,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,75},{76,89}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,475},{82,101}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,63},{82,101}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,387},{102,93}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,70},{102,93}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,302},{86,103}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,62},{86,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,275},{102,103}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,61},{102,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,197},{108,103}}</string>
                <key>offset</key>
                <string>{-28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{108,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,482},{96,93}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,72},{96,93}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,559},{90,93}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,77},{90,93}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,200},{104,83}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,78},{104,83}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,189},{84,105}}</string>
                <key>offset</key>
                <string>{11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,59},{84,105}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,100},{98,109}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{98,109}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,577},{92,91}}</string>
                <key>offset</key>
                <string>{-14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,73},{92,91}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{96,113}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,51},{96,113}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,121}}</string>
                <key>offset</key>
                <string>{30,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,42},{94,121}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{90,93}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,68},{90,93}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,275},{64,103}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,27},{64,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{86,101}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{86,101}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,285},{100,103}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{100,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{106,103}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{110,99}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{110,99}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,103},{84,105}}</string>
                <key>offset</key>
                <string>{38,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,53},{84,105}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{108,81}}</string>
                <key>offset</key>
                <string>{42,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{108,81}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,490},{92,93}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,71},{92,93}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,390},{98,101}}</string>
                <key>offset</key>
                <string>{-29,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,60},{98,101}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,103},{92,109}}</string>
                <key>offset</key>
                <string>{-25,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,53},{92,109}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{116,99}}</string>
                <key>offset</key>
                <string>{-40,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,64},{116,99}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{116,99}}</string>
                <key>offset</key>
                <string>{-41,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{116,99}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,379},{94,103}}</string>
                <key>offset</key>
                <string>{-33,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,58},{94,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
            <key>effect_hongshengjin_changjings_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{76,103}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,59},{76,103}}</string>
                <key>sourceSize</key>
                <string>{198,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hongshengjin_changjings.png</string>
            <key>size</key>
            <string>{507,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26b2170713418d45219a2824c3547a48$</string>
            <key>textureFileName</key>
            <string>effect_hongshengjin_changjings.png</string>
        </dict>
    </dict>
</plist>
