<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heji_duizhan445zi21_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,264}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,264}}</string>
                <key>sourceSize</key>
                <string>{108,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heji_duizhan445zi21.png</string>
            <key>size</key>
            <string>{102,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac4b8f13f2be9bec2d629e1b203e7a7$</string>
            <key>textureFileName</key>
            <string>effect_heji_duizhan445zi21.png</string>
        </dict>
    </dict>
</plist>
