<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huodongqixi_yuenan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,107},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>effect_huodongqixi_yuenan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{470,103}}</string>
                <key>sourceSize</key>
                <string>{470,107}</string>
            </dict>
            <key>effect_huodongqixi_yuenan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{349,152}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,152}}</string>
                <key>sourceSize</key>
                <string>{349,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huodongqixi_yuenan.png</string>
            <key>size</key>
            <string>{474,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175071ee8ee1d82facc4385de98c3f7b$</string>
            <key>textureFileName</key>
            <string>effect_huodongqixi_yuenan.png</string>
        </dict>
    </dict>
</plist>
