<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tujie_mannengliangorange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{18,18}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,58},{18,18}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,222},{52,54}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,40},{52,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,394},{46,50}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{46,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{96,94}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{96,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,146},{124,114}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{124,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,288},{128,112}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{128,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,108}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{124,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{120,112}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{120,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,116},{116,114}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{116,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,276},{114,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{114,122}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{114,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,232},{52,38}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{52,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{122,132}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{122,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{124,140}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,142}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,394},{52,48}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,55},{52,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,448},{50,50}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,57},{50,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,418},{56,52}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,57},{56,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,418},{56,52}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,57},{56,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{54,60}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{54,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,422},{52,58}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_tujie_mannengliangorange_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,422},{54,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{54,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tujie_mannengliangorange.png</string>
            <key>size</key>
            <string>{480,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5293f11d5412c776a789413715f3513$</string>
            <key>textureFileName</key>
            <string>effect_tujie_mannengliangorange.png</string>
        </dict>
    </dict>
</plist>
