<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiang_tupojiemian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{251,340}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{251,340}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{251,332}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{251,332}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,761},{251,330}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{251,330}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,761},{251,330}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{251,330}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{251,328}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{251,328}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1014},{251,326}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{251,326}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1014},{251,326}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{251,326}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1593},{251,324}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{251,324}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1267},{251,324}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{251,324}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1267},{251,322}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{251,322}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1267},{251,320}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{251,320}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,340}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{251,340}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,255},{251,338}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{251,338}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{251,338}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{251,338}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,255},{251,336}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{251,336}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{251,336}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{251,336}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,508},{251,334}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{251,334}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{251,334}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{251,334}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
            <key>effect_wujiang_tupojiemian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,508},{251,332}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{251,332}}</string>
                <key>sourceSize</key>
                <string>{255,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiang_tupojiemian.png</string>
            <key>size</key>
            <string>{1024,1919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4889e62f1f469f4147f0a6f7166d58f$</string>
            <key>textureFileName</key>
            <string>effect_wujiang_tupojiemian.png</string>
        </dict>
    </dict>
</plist>
