<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangbianzhandou_chuan3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>effect_jiangbianzhandou_chuan3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangbianzhandou_chuan3.png</string>
            <key>size</key>
            <string>{19,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41d9b9a4fb043e37c6e07c0da6a2b76$</string>
            <key>textureFileName</key>
            <string>effect_jiangbianzhandou_chuan3.png</string>
        </dict>
    </dict>
</plist>
