<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu1_guang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,176},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,115},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{50,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{50,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,61}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
            <key>effect_denglu1_guang3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{50,59}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu1_guang3.png</string>
            <key>size</key>
            <string>{237,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5385de89d82b5105c45e27b1faa9ba9a$</string>
            <key>textureFileName</key>
            <string>effect_denglu1_guang3.png</string>
        </dict>
    </dict>
</plist>
