<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nanman_huoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{19,80}}</string>
                <key>sourceSize</key>
                <string>{25,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nanman_huoxing.png</string>
            <key>size</key>
            <string>{23,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104efed6da1ca2fcc34b827852ef37c6$</string>
            <key>textureFileName</key>
            <string>effect_nanman_huoxing.png</string>
        </dict>
    </dict>
</plist>
