<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshugaojie_lingzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_shenshugaojie_lingzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,13}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshugaojie_lingzhi.png</string>
            <key>size</key>
            <string>{25,39}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74293f0db68b9db603e4d0e2413acb53$</string>
            <key>textureFileName</key>
            <string>effect_shenshugaojie_lingzhi.png</string>
        </dict>
    </dict>
</plist>
