<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu4_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{199,132}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{199,132}}</string>
                <key>sourceSize</key>
                <string>{201,132}</string>
            </dict>
            <key>effect_denglu4_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,308}}</string>
                <key>sourceSize</key>
                <string>{384,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu4_logo.png</string>
            <key>size</key>
            <string>{388,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18de441eb9cca5f8b8e14942064f3cd$</string>
            <key>textureFileName</key>
            <string>effect_denglu4_logo.png</string>
        </dict>
    </dict>
</plist>
