<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{85,169}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{85,169}}</string>
                <key>sourceSize</key>
                <string>{113,171}</string>
            </dict>
            <key>effect_chouka_shan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,182}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,182}}</string>
                <key>sourceSize</key>
                <string>{102,182}</string>
            </dict>
            <key>effect_chouka_shan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{170,58}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_shan.png</string>
            <key>size</key>
            <string>{189,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7e2c676b7067ea14b41f8662475620$</string>
            <key>textureFileName</key>
            <string>effect_chouka_shan.png</string>
        </dict>
    </dict>
</plist>
