<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fudao_huangjin_ditu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,274}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{250,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fudao_huangjin_ditu.png</string>
            <key>size</key>
            <string>{254,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbfc1071a27325c3656252b913a1998c$</string>
            <key>textureFileName</key>
            <string>effect_fudao_huangjin_ditu.png</string>
        </dict>
    </dict>
</plist>
