<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanfa_yanxi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{139,139}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,139}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>effect_zhanfa_yanxi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{96,130}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{104,112}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,229},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,404},{106,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{106,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,210},{110,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{110,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{102,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{108,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{108,80}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{112,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{112,82}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,143},{116,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{116,84}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,523},{88,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{65,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>effect_zhanfa_yanxi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,500},{88,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,412},{90,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>effect_zhanfa_yanxi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,310},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>effect_zhanfa_yanxi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,339},{88,108}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{88,108}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>effect_zhanfa_yanxi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,429},{92,106}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{92,106}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,308},{94,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{94,110}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,210},{96,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{96,114}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,108},{100,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{100,122}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_yanxi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{104,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{104,126}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanfa_yanxi.png</string>
            <key>size</key>
            <string>{510,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45544f01f30b6e57ad93dd1d62f8014d$</string>
            <key>textureFileName</key>
            <string>effect_zhanfa_yanxi.png</string>
        </dict>
    </dict>
</plist>
