<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chuangjueui_zinan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,353},{75,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,146}}</string>
                <key>sourceSize</key>
                <string>{77,148}</string>
            </dict>
            <key>effect_chuangjueui_zinan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{43,148}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,148}}</string>
                <key>sourceSize</key>
                <string>{45,304}</string>
            </dict>
            <key>effect_chuangjueui_zinan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,47},{39,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,304}}</string>
                <key>sourceSize</key>
                <string>{39,304}</string>
            </dict>
            <key>effect_chuangjueui_zinan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,242}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,242}}</string>
                <key>sourceSize</key>
                <string>{45,304}</string>
            </dict>
            <key>effect_chuangjueui_zinan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,47},{39,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,304}}</string>
                <key>sourceSize</key>
                <string>{39,304}</string>
            </dict>
            <key>effect_chuangjueui_zinan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{43,302}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,302}}</string>
                <key>sourceSize</key>
                <string>{45,304}</string>
            </dict>
            <key>effect_chuangjueui_zinan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{57,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,208}}</string>
                <key>sourceSize</key>
                <string>{57,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chuangjueui_zinan.png</string>
            <key>size</key>
            <string>{253,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4282cc12bc12e13966bee6796458c07$</string>
            <key>textureFileName</key>
            <string>effect_chuangjueui_zinan.png</string>
        </dict>
    </dict>
</plist>
