<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shuijing_zhuque_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,380},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>effect_shuijing_zhuque_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{78,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,107}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>effect_shuijing_zhuque_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,233},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,58}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>effect_shuijing_zhuque_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,132},{22,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,57}}</string>
                <key>sourceSize</key>
                <string>{24,59}</string>
            </dict>
            <key>effect_shuijing_zhuque_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,253},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,56}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>effect_shuijing_zhuque_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>effect_shuijing_zhuque_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,74}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>effect_shuijing_zhuque_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,70}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>effect_shuijing_zhuque_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,72}}</string>
                <key>sourceSize</key>
                <string>{97,74}</string>
            </dict>
            <key>effect_shuijing_zhuque_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,245},{26,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>effect_shuijing_zhuque_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_shuijing_zhuque_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,238},{19,71}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,71}}</string>
                <key>sourceSize</key>
                <string>{23,77}</string>
            </dict>
            <key>effect_shuijing_zhuque_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,191},{52,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,28}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>effect_shuijing_zhuque_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,178},{53,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,42}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>effect_shuijing_zhuque_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,107}}</string>
                <key>sourceSize</key>
                <string>{96,109}</string>
            </dict>
            <key>effect_shuijing_zhuque_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{30,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,104}}</string>
                <key>sourceSize</key>
                <string>{30,108}</string>
            </dict>
            <key>effect_shuijing_zhuque_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,178},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,76}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shuijing_zhuque.png</string>
            <key>size</key>
            <string>{254,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924ca58124756a533a0a4d8362b146fd$</string>
            <key>textureFileName</key>
            <string>effect_shuijing_zhuque.png</string>
        </dict>
    </dict>
</plist>
