<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_biaoti_zhaomutx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,79},{99,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>effect_biaoti_zhaomutx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,75}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{247,75}}</string>
                <key>sourceSize</key>
                <string>{255,83}</string>
            </dict>
            <key>effect_biaoti_zhaomutx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{363,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,89}}</string>
                <key>sourceSize</key>
                <string>{363,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_biaoti_zhaomutx.png</string>
            <key>size</key>
            <string>{251,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23992ce67612b47babce136f7b15a8b7$</string>
            <key>textureFileName</key>
            <string>effect_biaoti_zhaomutx.png</string>
        </dict>
    </dict>
</plist>
