<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hejilibao_fasanguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,418}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{396,418}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hejilibao_fasanguang.png</string>
            <key>size</key>
            <string>{400,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffbcd8880fbc37adcdc127f62f6b10c1$</string>
            <key>textureFileName</key>
            <string>effect_hejilibao_fasanguang.png</string>
        </dict>
    </dict>
</plist>
