<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dangao_lamb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>effect_dangao_lamb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{74,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_dangao_lamb.png</string>
            <key>size</key>
            <string>{88,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6baf23f5cfc0a81f26214956d313e1c2$</string>
            <key>textureFileName</key>
            <string>effect_dangao_lamb.png</string>
        </dict>
    </dict>
</plist>
