<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_scene01_huoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,6}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_scene01_huoxing.png</string>
            <key>size</key>
            <string>{12,10}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f71d7bf9715dfccc7b87b241d95395$</string>
            <key>textureFileName</key>
            <string>effect_scene01_huoxing.png</string>
        </dict>
    </dict>
</plist>
