<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heji_liuguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{147,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,314}}</string>
                <key>sourceSize</key>
                <string>{147,314}</string>
            </dict>
            <key>effect_heji_liuguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,646},{186,642}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{186,642}}</string>
                <key>sourceSize</key>
                <string>{246,666}</string>
            </dict>
            <key>effect_heji_liuguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,834},{184,622}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{184,622}}</string>
                <key>sourceSize</key>
                <string>{244,666}</string>
            </dict>
            <key>effect_heji_liuguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,642}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{186,642}}</string>
                <key>sourceSize</key>
                <string>{244,666}</string>
            </dict>
            <key>effect_heji_liuguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{176,616}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{176,616}}</string>
                <key>sourceSize</key>
                <string>{246,666}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heji_liuguang.png</string>
            <key>size</key>
            <string>{795,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2062feaf722a36609c52efba9eb1cfe9$</string>
            <key>textureFileName</key>
            <string>effect_heji_liuguang.png</string>
        </dict>
    </dict>
</plist>
