<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jingying_taofahuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{158,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,38}}</string>
                <key>sourceSize</key>
                <string>{158,38}</string>
            </dict>
            <key>effect_jingying_taofahuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,206},{662,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,64}}</string>
                <key>sourceSize</key>
                <string>{662,64}</string>
            </dict>
            <key>effect_jingying_taofahuo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{242,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,62}}</string>
                <key>sourceSize</key>
                <string>{242,62}</string>
            </dict>
            <key>effect_jingying_taofahuo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{252,79}}</string>
                <key>sourceSize</key>
                <string>{254,81}</string>
            </dict>
            <key>effect_jingying_taofahuo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{246,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{246,57}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>effect_jingying_taofahuo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{42,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,161}}</string>
                <key>sourceSize</key>
                <string>{42,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jingying_taofahuo.png</string>
            <key>size</key>
            <string>{256,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960cf437e0de9c47e85e6161fa399fa2$</string>
            <key>textureFileName</key>
            <string>effect_jingying_taofahuo.png</string>
        </dict>
    </dict>
</plist>
