<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yuanfen_shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,80},{39,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,31}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>effect_yuanfen_shandian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,60},{97,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,26}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>effect_yuanfen_shandian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{76,17}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,17}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
            <key>effect_yuanfen_shandian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,126},{53,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,17}}</string>
                <key>sourceSize</key>
                <string>{55,19}</string>
            </dict>
            <key>effect_yuanfen_shandian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,110},{34,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>effect_yuanfen_shandian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{54,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>effect_yuanfen_shandian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,113},{65,32}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,32}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>effect_yuanfen_shandian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,88},{85,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>effect_yuanfen_shandian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{106,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>effect_yuanfen_shandian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,36}}</string>
                <key>sourceSize</key>
                <string>{121,38}</string>
            </dict>
            <key>effect_yuanfen_shandian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{91,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,28}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
            <key>effect_yuanfen_shandian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,31},{109,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{113,29}</string>
            </dict>
            <key>effect_yuanfen_shandian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{112,27}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{116,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_yuanfen_shandian.png</string>
            <key>size</key>
            <string>{254,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d02dde6505bb62549a3564b8c5572c3$</string>
            <key>textureFileName</key>
            <string>effect_yuanfen_shandian.png</string>
        </dict>
    </dict>
</plist>
