<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tianxiawus_dazidi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,537},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>effect_tianxiawus_dazidi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,537},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_tianxiawus_dazidi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,112}}</string>
                <key>sourceSize</key>
                <string>{533,112}</string>
            </dict>
            <key>effect_tianxiawus_dazidi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_tianxiawus_dazidi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_tianxiawus_dazidi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{481,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,57}}</string>
                <key>sourceSize</key>
                <string>{481,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tianxiawus_dazidi.png</string>
            <key>size</key>
            <string>{156,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:558a3bcf49477a93b21f74e50f524de9$</string>
            <key>textureFileName</key>
            <string>effect_tianxiawus_dazidi.png</string>
        </dict>
    </dict>
</plist>
