<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhandou_duijue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{166,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,122}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>effect_zhandou_duijue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,731},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_zhandou_duijue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{220,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,14}}</string>
                <key>sourceSize</key>
                <string>{220,18}</string>
            </dict>
            <key>effect_zhandou_duijue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{708,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,148}}</string>
                <key>sourceSize</key>
                <string>{712,150}</string>
            </dict>
            <key>effect_zhandou_duijue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,158}}</string>
                <key>sourceSize</key>
                <string>{734,158}</string>
            </dict>
            <key>effect_zhandou_duijue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{82,420}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{82,420}}</string>
                <key>sourceSize</key>
                <string>{110,460}</string>
            </dict>
            <key>effect_zhandou_duijue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{727,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,249}}</string>
                <key>sourceSize</key>
                <string>{727,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhandou_duijue.png</string>
            <key>size</key>
            <string>{1005,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459c5b19f158a1360c17a1911d43f089$</string>
            <key>textureFileName</key>
            <string>effect_zhandou_duijue.png</string>
        </dict>
    </dict>
</plist>
