<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fengyiting_yangguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{195,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fengyiting_yangguang.png</string>
            <key>size</key>
            <string>{199,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7589a1d750e1570da583fcf4cf4f99$</string>
            <key>textureFileName</key>
            <string>effect_fengyiting_yangguang.png</string>
        </dict>
    </dict>
</plist>
