<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_sr_tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_sr_tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_sr_tx.png</string>
            <key>size</key>
            <string>{128,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8335bec30ca67f5b85308601c7b7c7de$</string>
            <key>textureFileName</key>
            <string>effect_sr_tx.png</string>
        </dict>
    </dict>
</plist>
