<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhucheng4_yangguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,304}}</string>
                <key>sourceSize</key>
                <string>{443,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhucheng4_yangguang.png</string>
            <key>size</key>
            <string>{447,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ec8c422b1294ee26cdf99993a1e0fa8$</string>
            <key>textureFileName</key>
            <string>effect_zhucheng4_yangguang.png</string>
        </dict>
    </dict>
</plist>
