<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu6_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,170}}</string>
                <key>sourceSize</key>
                <string>{222,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu6_logo.png</string>
            <key>size</key>
            <string>{224,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217cf7b6d7e8189d4871d8e450b9bb77$</string>
            <key>textureFileName</key>
            <string>effect_denglu6_logo.png</string>
        </dict>
    </dict>
</plist>
