<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiangkuang_feilong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,192},{43,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{43,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{43,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{43,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,154},{43,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{43,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,114},{43,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,119},{41,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,162},{41,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{41,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{43,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{43,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,115}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,115}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,110}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{126,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{43,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{43,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{43,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,202},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,119},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,159},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{41,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,159},{41,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>effect_touxiangkuang_feilong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,119},{41,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,36}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiangkuang_feilong.png</string>
            <key>size</key>
            <string>{254,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032dfa09b2007a6b8957fe919976c210$</string>
            <key>textureFileName</key>
            <string>effect_touxiangkuang_feilong.png</string>
        </dict>
    </dict>
</plist>
