<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nanman_dazi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,458},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_nanman_dazi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_nanman_dazi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_nanman_dazi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_nanman_dazi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{1136,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,211}}</string>
                <key>sourceSize</key>
                <string>{1136,211}</string>
            </dict>
            <key>effect_nanman_dazi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,294}}</string>
                <key>sourceSize</key>
                <string>{299,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nanman_dazi.png</string>
            <key>size</key>
            <string>{455,1436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:878f4da46d95c79aac37e1f96ddc6746$</string>
            <key>textureFileName</key>
            <string>effect_nanman_dazi.png</string>
        </dict>
    </dict>
</plist>
