<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qinmidu_aixin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,64},{168,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{168,44}}</string>
                <key>sourceSize</key>
                <string>{168,46}</string>
            </dict>
            <key>effect_qinmidu_aixin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,64},{263,7}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{263,7}}</string>
                <key>sourceSize</key>
                <string>{269,11}</string>
            </dict>
            <key>effect_qinmidu_aixin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,234},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>effect_qinmidu_aixin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,53}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>effect_qinmidu_aixin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,329},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>effect_qinmidu_aixin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,344},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,19}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>effect_qinmidu_aixin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,269},{73,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,27}}</string>
                <key>sourceSize</key>
                <string>{75,29}</string>
            </dict>
            <key>effect_qinmidu_aixin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{498,67}}</string>
                <key>sourceSize</key>
                <string>{500,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qinmidu_aixin.png</string>
            <key>size</key>
            <string>{126,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24702a8fc5394c63740b2879feb1d4c5$</string>
            <key>textureFileName</key>
            <string>effect_qinmidu_aixin.png</string>
        </dict>
    </dict>
</plist>
