<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu4_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{254,183}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{254,183}}</string>
                <key>sourceSize</key>
                <string>{300,241}</string>
            </dict>
            <key>effect_denglu4_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,308}}</string>
                <key>sourceSize</key>
                <string>{384,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu4_logo.png</string>
            <key>size</key>
            <string>{388,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10e49930e81344d19e39655b7c405ba5$</string>
            <key>textureFileName</key>
            <string>effect_denglu4_logo.png</string>
        </dict>
    </dict>
</plist>
