<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhenfagu_jihuo2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,352},{156,158}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,65},{156,158}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,360},{176,176}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{176,176}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,510},{174,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{174,170}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{190,180}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,53},{190,180}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{206,192}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,45},{206,192}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{186,186}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{186,186}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,200},{194,194}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{194,194}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,210},{200,202}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{200,202}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,470},{210,208}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,43},{210,208}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,700},{214,216}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{214,216}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{94,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{94,94}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{222,222}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{222,222}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{226,228}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{226,228}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{232,232}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{232,232}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,232}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{232,232}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,190},{186,168}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{186,168}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{196,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,51},{196,182}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,194},{156,158}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,65},{156,158}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,510},{176,176}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{176,176}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,918},{102,102}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,97},{102,102}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,682},{146,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,72},{146,146}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,538},{166,168}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,60},{166,168}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,832},{134,136}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,79},{134,136}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>effect_zhenfagu_jihuo2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,688},{142,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{142,144}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhenfagu_jihuo2.png</string>
            <key>size</key>
            <string>{984,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:647149dc85e01c86ac3c33067d033bd4$</string>
            <key>textureFileName</key>
            <string>effect_zhenfagu_jihuo2.png</string>
        </dict>
    </dict>
</plist>
