<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fail_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,265}}</string>
                <key>sourceSize</key>
                <string>{270,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fail_di.png</string>
            <key>size</key>
            <string>{274,269}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5c57e6f59810cda988f007826fe7e92$</string>
            <key>textureFileName</key>
            <string>effect_fail_di.png</string>
        </dict>
    </dict>
</plist>
