<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhaojiang_baitiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,357}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{11,357}}</string>
                <key>sourceSize</key>
                <string>{17,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhaojiang_baitiao.png</string>
            <key>size</key>
            <string>{15,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc2df44e0d7c13516a99d23f189554d$</string>
            <key>textureFileName</key>
            <string>effect_zhaojiang_baitiao.png</string>
        </dict>
    </dict>
</plist>
