<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiang_xiaolong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,138},{4,8}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{4,8}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,106},{30,44}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,36},{30,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,269},{30,42}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,38},{30,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,299},{28,38}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,42},{28,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{26,32}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{26,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,36},{20,26}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,54},{20,26}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,106},{14,20}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{14,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,501},{121,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{121,124}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,744},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,128},{14,14}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{14,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,621},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,501},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,498},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,501},{121,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{121,124}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,501},{121,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{121,124}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,744},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,86},{18,20}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{18,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,621},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,501},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,498},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,501},{121,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{121,124}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,501},{121,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{121,124}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,744},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,31},{24,26}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{24,26}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,621},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{123,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,501},{121,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{121,126}}</string>
                <key>sourceSize</key>
                <string>{149,154}</string>
            </dict>
            <key>effect_touxiang_xiaolong_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,374},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,252},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,126},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,269},{28,40}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{28,40}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{132,120}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{132,120}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,250},{130,122}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{130,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{130,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>effect_touxiang_xiaolong_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{78,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,27}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>effect_touxiang_xiaolong_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,144},{123,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>effect_touxiang_xiaolong_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,57},{27,21}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,21}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>effect_touxiang_xiaolong_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,624},{122,118}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiang_xiaolong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,99},{30,44}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{30,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,65},{32,48}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{32,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,31},{32,50}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{32,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_touxiang_xiaolong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,58},{30,46}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{30,46}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiang_xiaolong.png</string>
            <key>size</key>
            <string>{512,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ab3a7e3d87e0c5e726b4518c2c86787$</string>
            <key>textureFileName</key>
            <string>effect_touxiang_xiaolong.png</string>
        </dict>
    </dict>
</plist>
