<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huangjinzhandou_ying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>effect_huangjinzhandou_ying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,24},{37,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,16}}</string>
                <key>sourceSize</key>
                <string>{37,16}</string>
            </dict>
            <key>effect_huangjinzhandou_ying_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>effect_huangjinzhandou_ying_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,69}}</string>
                <key>sourceSize</key>
                <string>{170,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huangjinzhandou_ying.png</string>
            <key>size</key>
            <string>{126,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad235abcf55ad90822fc0b30774b56b$</string>
            <key>textureFileName</key>
            <string>effect_huangjinzhandou_ying.png</string>
        </dict>
    </dict>
</plist>
