<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wuchabieduijue_duizhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>effect_wuchabieduijue_duizhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
            <key>size</key>
            <string>{104,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46b6367fab2ff8f05c3b7e108e12fec$</string>
            <key>textureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
        </dict>
    </dict>
</plist>
