<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wuchabieduijue_duizhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_wuchabieduijue_duizhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
            <key>size</key>
            <string>{74,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2fd2acafd9c6e6098638c6db5077b0$</string>
            <key>textureFileName</key>
            <string>effect_wuchabieduijue_duizhan.png</string>
        </dict>
    </dict>
</plist>
