<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_qiling_shu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{816,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{816,518}}</string>
                <key>sourceSize</key>
                <string>{816,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiling_shu.png</string>
            <key>size</key>
            <string>{820,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f72401d50ae77d32db044c2fbcf27bc0$</string>
            <key>textureFileName</key>
            <string>effect_qiling_shu.png</string>
        </dict>
    </dict>
</plist>
