<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mingjiang_juanzhou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{115,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,511}}</string>
                <key>sourceSize</key>
                <string>{115,511}</string>
            </dict>
            <key>effect_mingjiang_juanzhou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1102,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1102,513}}</string>
                <key>sourceSize</key>
                <string>{1102,513}</string>
            </dict>
            <key>effect_mingjiang_juanzhou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{232,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{232,118}}</string>
                <key>sourceSize</key>
                <string>{236,118}</string>
            </dict>
            <key>effect_mingjiang_juanzhou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{39,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,118}}</string>
                <key>sourceSize</key>
                <string>{43,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mingjiang_juanzhou.png</string>
            <key>size</key>
            <string>{988,1106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f69e0090ad9cf69664d9b927e129aed$</string>
            <key>textureFileName</key>
            <string>effect_mingjiang_juanzhou.png</string>
        </dict>
    </dict>
</plist>
