<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanfa_liuxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,88},{203,96}}</string>
                <key>offset</key>
                <string>{-120,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,85},{203,96}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{215,84}}</string>
                <key>offset</key>
                <string>{67,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,96},{215,84}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,354},{189,100}}</string>
                <key>offset</key>
                <string>{90,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,78},{189,100}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{163,110}}</string>
                <key>offset</key>
                <string>{111,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,62},{163,110}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{145,110}}</string>
                <key>offset</key>
                <string>{118,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,59},{145,110}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,746},{106,94}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{106,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{110,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{110,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{102,78}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{102,78}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{108,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{108,80}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,412},{112,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{112,82}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,554},{116,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{116,84}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,260},{235,92}}</string>
                <key>offset</key>
                <string>{-93,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,93},{235,92}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,842},{88,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,92}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,750},{88,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{88,94}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,912},{90,98}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{92,106}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{92,106}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,650},{94,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{94,110}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,562},{96,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{96,114}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,526},{100,122}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{100,122}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,456},{104,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{104,126}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,456},{96,130}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,660},{104,112}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{104,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{265,86}}</string>
                <key>offset</key>
                <string>{-65,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,99},{265,86}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,640},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{108,112}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>effect_zhanfa_liuxian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,78}}</string>
                <key>offset</key>
                <string>{-39,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,106},{289,78}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{281,64}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,119},{281,64}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{277,56}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,126},{277,56}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{263,52}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,129},{263,52}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{247,62}}</string>
                <key>offset</key>
                <string>{29,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,119},{247,62}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
            <key>effect_zhanfa_liuxian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,186},{229,72}}</string>
                <key>offset</key>
                <string>{49,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,108},{229,72}}</string>
                <key>sourceSize</key>
                <string>{455,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanfa_liuxian.png</string>
            <key>size</key>
            <string>{512,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f78b6316e180d7963eac852edebd3429$</string>
            <key>textureFileName</key>
            <string>effect_zhanfa_liuxian.png</string>
        </dict>
    </dict>
</plist>
