<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_jianlongzaitian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,24},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,15}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,125},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,84},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,84},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,43},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,43},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,185},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,129},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,73},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,69}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,69}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,185},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,129},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,73},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{54,39}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>effect_ui_jianlongzaitian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{54,39}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{54,39}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_jianlongzaitian.png</string>
            <key>size</key>
            <string>{252,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0178469d86b32cac5555a144702db1c0$</string>
            <key>textureFileName</key>
            <string>effect_ui_jianlongzaitian.png</string>
        </dict>
    </dict>
</plist>
