<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bianshenkatujian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{199,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,199}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>effect_bianshenkatujian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>effect_bianshenkatujian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{330,487}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{330,487}}</string>
                <key>sourceSize</key>
                <string>{338,495}</string>
            </dict>
            <key>effect_bianshenkatujian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,520}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,520}}</string>
                <key>sourceSize</key>
                <string>{366,522}</string>
            </dict>
            <key>effect_bianshenkatujian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,524},{323,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,480}}</string>
                <key>sourceSize</key>
                <string>{323,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bianshenkatujian.png</string>
            <key>size</key>
            <string>{921,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a147c8ab1978b4d5de7def27fabea53$</string>
            <key>textureFileName</key>
            <string>effect_bianshenkatujian.png</string>
        </dict>
    </dict>
</plist>
