<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gxcp_jianfag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gxcp_jianfag.png</string>
            <key>size</key>
            <string>{69,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949fc14e94115a99fb97b37c3e6765ff$</string>
            <key>textureFileName</key>
            <string>effect_gxcp_jianfag.png</string>
        </dict>
    </dict>
</plist>
