<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tiaozi_ditu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{160,74}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{248,74}</string>
            </dict>
            <key>effect_tiaozi_ditu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{248,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,74}}</string>
                <key>sourceSize</key>
                <string>{248,74}</string>
            </dict>
            <key>effect_tiaozi_ditu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{248,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,74}}</string>
                <key>sourceSize</key>
                <string>{248,74}</string>
            </dict>
            <key>effect_tiaozi_ditu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,74}}</string>
                <key>sourceSize</key>
                <string>{248,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tiaozi_ditu.png</string>
            <key>size</key>
            <string>{252,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbbfef12adcbf0a5ee724d1a528dd2ef$</string>
            <key>textureFileName</key>
            <string>effect_tiaozi_ditu.png</string>
        </dict>
    </dict>
</plist>
