<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fengyiting_shui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,76}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{349,76}}</string>
                <key>sourceSize</key>
                <string>{393,102}</string>
            </dict>
            <key>effect_fengyiting_shui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{339,81}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{339,81}}</string>
                <key>sourceSize</key>
                <string>{391,99}</string>
            </dict>
            <key>effect_fengyiting_shui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{344,81}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,1},{344,81}}</string>
                <key>sourceSize</key>
                <string>{410,101}</string>
            </dict>
            <key>effect_fengyiting_shui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{337,81}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{337,81}}</string>
                <key>sourceSize</key>
                <string>{393,103}</string>
            </dict>
            <key>effect_fengyiting_shui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{340,80}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{340,80}}</string>
                <key>sourceSize</key>
                <string>{390,106}</string>
            </dict>
            <key>effect_fengyiting_shui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{341,78}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{341,78}}</string>
                <key>sourceSize</key>
                <string>{391,108}</string>
            </dict>
            <key>effect_fengyiting_shui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{344,77}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{344,77}}</string>
                <key>sourceSize</key>
                <string>{390,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fengyiting_shui.png</string>
            <key>size</key>
            <string>{436,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d87614f480af11fa546111c5d66c773$</string>
            <key>textureFileName</key>
            <string>effect_fengyiting_shui.png</string>
        </dict>
    </dict>
</plist>
