<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hejilibao_zhujiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hejilibao_zhujiang.png</string>
            <key>size</key>
            <string>{90,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8db8ef5cd0c83d03401e7db4e21a4ec$</string>
            <key>textureFileName</key>
            <string>effect_hejilibao_zhujiang.png</string>
        </dict>
    </dict>
</plist>
