<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_starfall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,84}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>effect_starfall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{93,88}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_starfall.png</string>
            <key>size</key>
            <string>{97,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c41c45375b1d4b6a179d92e409f281f$</string>
            <key>textureFileName</key>
            <string>effect_starfall.png</string>
        </dict>
    </dict>
</plist>
