<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangbianzhandou_shitou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,62}}</string>
                <key>sourceSize</key>
                <string>{132,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangbianzhandou_shitou.png</string>
            <key>size</key>
            <string>{128,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3fc056baf2f6be8e1ffdded659553ba$</string>
            <key>textureFileName</key>
            <string>effect_jiangbianzhandou_shitou.png</string>
        </dict>
    </dict>
</plist>
