<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shuijing_jingwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,293},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>effect_shuijing_jingwei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,25},{71,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,114}}</string>
                <key>sourceSize</key>
                <string>{73,116}</string>
            </dict>
            <key>effect_shuijing_jingwei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{70,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,127}}</string>
                <key>sourceSize</key>
                <string>{72,129}</string>
            </dict>
            <key>effect_shuijing_jingwei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,76}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>effect_shuijing_jingwei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,213},{62,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,101}}</string>
                <key>sourceSize</key>
                <string>{64,103}</string>
            </dict>
            <key>effect_shuijing_jingwei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,77}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>effect_shuijing_jingwei_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,277},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,64}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>effect_shuijing_jingwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,265},{26,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>effect_shuijing_jingwei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_shuijing_jingwei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{9,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,28}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>effect_shuijing_jingwei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{21,119}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,119}}</string>
                <key>sourceSize</key>
                <string>{25,123}</string>
            </dict>
            <key>effect_shuijing_jingwei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,213},{42,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>effect_shuijing_jingwei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{58,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,102}}</string>
                <key>sourceSize</key>
                <string>{60,104}</string>
            </dict>
            <key>effect_shuijing_jingwei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{81,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,104}}</string>
                <key>sourceSize</key>
                <string>{83,106}</string>
            </dict>
            <key>effect_shuijing_jingwei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,181},{30,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,104}}</string>
                <key>sourceSize</key>
                <string>{30,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shuijing_jingwei.png</string>
            <key>size</key>
            <string>{253,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8c74bf1da9be6f711f41af932a6761$</string>
            <key>textureFileName</key>
            <string>effect_shuijing_jingwei.png</string>
        </dict>
    </dict>
</plist>
