<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,471},{567,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,141}}</string>
                <key>sourceSize</key>
                <string>{567,141}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{683,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,161}}</string>
                <key>sourceSize</key>
                <string>{683,161}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{608,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,426}}</string>
                <key>sourceSize</key>
                <string>{608,426}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1040},{469,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,346}}</string>
                <key>sourceSize</key>
                <string>{469,346}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{464,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,423}}</string>
                <key>sourceSize</key>
                <string>{464,423}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{510,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,278}}</string>
                <key>sourceSize</key>
                <string>{510,278}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{753,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{753,304}}</string>
                <key>sourceSize</key>
                <string>{753,304}</string>
            </dict>
            <key>effect_nvzhuchuangjue_2_jianzhu1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{752,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,206}}</string>
                <key>sourceSize</key>
                <string>{752,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nvzhuchuangjue_2_jianzhu1.png</string>
            <key>size</key>
            <string>{985,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b71c0f06b7da2255f17870d3fbde84d$</string>
            <key>textureFileName</key>
            <string>effect_nvzhuchuangjue_2_jianzhu1.png</string>
        </dict>
    </dict>
</plist>
