<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chuping_aixin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,79}}</string>
                <key>sourceSize</key>
                <string>{91,81}</string>
            </dict>
            <key>effect_chuping_aixin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{74,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chuping_aixin.png</string>
            <key>size</key>
            <string>{93,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b218bfe47f48611fbedcda2b8c7421a9$</string>
            <key>textureFileName</key>
            <string>effect_chuping_aixin.png</string>
        </dict>
    </dict>
</plist>
