<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shuijing_xuanwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,353},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>effect_shuijing_xuanwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{66,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,99}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>effect_shuijing_xuanwu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,242},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,86}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>effect_shuijing_xuanwu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,248},{37,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,86}}</string>
                <key>sourceSize</key>
                <string>{39,88}</string>
            </dict>
            <key>effect_shuijing_xuanwu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,330},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,62}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>effect_shuijing_xuanwu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{66,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>effect_shuijing_xuanwu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,81}}</string>
                <key>sourceSize</key>
                <string>{61,83}</string>
            </dict>
            <key>effect_shuijing_xuanwu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,287},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,77}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>effect_shuijing_xuanwu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,194},{52,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,91}}</string>
                <key>sourceSize</key>
                <string>{54,93}</string>
            </dict>
            <key>effect_shuijing_xuanwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,132},{26,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>effect_shuijing_xuanwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_shuijing_xuanwu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,72},{59,15}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,15}}</string>
                <key>sourceSize</key>
                <string>{63,21}</string>
            </dict>
            <key>effect_shuijing_xuanwu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{46,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>effect_shuijing_xuanwu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{36,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>effect_shuijing_xuanwu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,104},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,88}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>effect_shuijing_xuanwu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,72},{30,104}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,104}}</string>
                <key>sourceSize</key>
                <string>{30,108}</string>
            </dict>
            <key>effect_shuijing_xuanwu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{68,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,118}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shuijing_xuanwu.png</string>
            <key>size</key>
            <string>{255,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11385ebdfee437ade84ca1a04f361c0a$</string>
            <key>textureFileName</key>
            <string>effect_shuijing_xuanwu.png</string>
        </dict>
    </dict>
</plist>
