<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_yanxi_xiantiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{562,159}}</string>
                <key>offset</key>
                <string>{-41,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,175},{562,159}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1019},{534,137}}</string>
                <key>offset</key>
                <string>{-54,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,174},{534,137}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{504,117}}</string>
                <key>offset</key>
                <string>{-69,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,174},{504,117}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,675},{470,97}}</string>
                <key>offset</key>
                <string>{-87,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,176},{470,97}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,521},{432,83}}</string>
                <key>offset</key>
                <string>{-105,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,175},{432,83}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{392,69}}</string>
                <key>offset</key>
                <string>{-125,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,177},{392,69}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,606},{348,67}}</string>
                <key>offset</key>
                <string>{-145,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,178},{348,67}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,606},{302,65}}</string>
                <key>offset</key>
                <string>{-167,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,179},{302,65}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,675},{256,63}}</string>
                <key>offset</key>
                <string>{-188,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,181},{256,63}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1147},{210,61}}</string>
                <key>offset</key>
                <string>{-210,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,182},{210,61}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,73},{366,217}}</string>
                <key>offset</key>
                <string>{103,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,187},{366,217}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,910},{162,55}}</string>
                <key>offset</key>
                <string>{-231,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,186},{162,55}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,73},{112,47}}</string>
                <key>offset</key>
                <string>{-251,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,192},{112,47}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{44,15}}</string>
                <key>offset</key>
                <string>{-279,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,212},{44,15}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,292},{424,227}}</string>
                <key>offset</key>
                <string>{80,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,179},{424,227}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1252},{468,229}}</string>
                <key>offset</key>
                <string>{56,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,176},{468,229}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,740},{510,229}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,175},{510,229}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{552,227}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,175},{552,227}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{592,225}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,174},{592,225}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,211}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,175},{596,211}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
            <key>effect_yanxi_xiantiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{582,185}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,174},{582,185}}</string>
                <key>sourceSize</key>
                <string>{1000,575}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_yanxi_xiantiao.png</string>
            <key>size</key>
            <string>{1022,1483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba455017901a9ca63cce6f9694b7d884$</string>
            <key>textureFileName</key>
            <string>effect_yanxi_xiantiao.png</string>
        </dict>
    </dict>
</plist>
