<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_guanxing_baize_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{533,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,494}}</string>
                <key>sourceSize</key>
                <string>{533,494}</string>
            </dict>
            <key>effect_guanxing_baize_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{527,494}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{527,494}}</string>
                <key>sourceSize</key>
                <string>{533,494}</string>
            </dict>
            <key>effect_guanxing_baize_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{559,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{559,518}}</string>
                <key>sourceSize</key>
                <string>{559,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_guanxing_baize.png</string>
            <key>size</key>
            <string>{563,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4662a9eaeedc75cbca47531a4e19b11$</string>
            <key>textureFileName</key>
            <string>effect_guanxing_baize.png</string>
        </dict>
    </dict>
</plist>
