<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangzhaomu_zhengjiang_faguang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{79,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,217}}</string>
                <key>sourceSize</key>
                <string>{85,217}</string>
            </dict>
            <key>effect_jinjiangzhaomu_zhengjiang_faguang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,117}}</string>
                <key>sourceSize</key>
                <string>{23,119}</string>
            </dict>
            <key>effect_jinjiangzhaomu_zhengjiang_faguang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,27},{14,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,95}}</string>
                <key>sourceSize</key>
                <string>{14,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangzhaomu_zhengjiang_faguang2.png</string>
            <key>size</key>
            <string>{121,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c01afb3d3cbb1d98920433bb7238805$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangzhaomu_zhengjiang_faguang2.png</string>
        </dict>
    </dict>
</plist>
