<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_huangjinzhandou_yun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,133}}</string>
                <key>sourceSize</key>
                <string>{185,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_huangjinzhandou_yun.png</string>
            <key>size</key>
            <string>{189,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8da61a45dc0d27bac003c601a7956fea$</string>
            <key>textureFileName</key>
            <string>effect_huangjinzhandou_yun.png</string>
        </dict>
    </dict>
</plist>
