<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_cardlight_hongsexuanzhuanguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{215,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{215,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{215,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{209,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{209,124}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,258},{205,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{205,124}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{199,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{199,124}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,384},{203,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{203,124}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,510},{199,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{199,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{203,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{203,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,130},{211,126}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{211,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
            <key>effect_cardlight_hongsexuanzhuanguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,126}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{215,126}}</string>
                <key>sourceSize</key>
                <string>{229,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_cardlight_hongsexuanzhuanguang.png</string>
            <key>size</key>
            <string>{436,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a82e46db4cffd0a7883edb26107d4a0$</string>
            <key>textureFileName</key>
            <string>effect_cardlight_hongsexuanzhuanguang.png</string>
        </dict>
    </dict>
</plist>
