<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhaomu_lingpai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,153}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{126,153}}</string>
                <key>sourceSize</key>
                <string>{134,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhaomu_lingpai2.png</string>
            <key>size</key>
            <string>{130,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1491470dad89bb4acc0f114d921a924a$</string>
            <key>textureFileName</key>
            <string>effect_zhaomu_lingpai2.png</string>
        </dict>
    </dict>
</plist>
