<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuangzhan_zhanling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{40,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,79}}</string>
                <key>sourceSize</key>
                <string>{40,79}</string>
            </dict>
            <key>effect_kuangzhan_zhanling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,188}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuangzhan_zhanling.png</string>
            <key>size</key>
            <string>{235,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faedde6d949a7060e5489714b1913c96$</string>
            <key>textureFileName</key>
            <string>effect_kuangzhan_zhanling.png</string>
        </dict>
    </dict>
</plist>
