<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gongkexiaocheng_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>effect_gongkexiaocheng_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>effect_gongkexiaocheng_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{675,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{675,38}}</string>
                <key>sourceSize</key>
                <string>{679,42}</string>
            </dict>
            <key>effect_gongkexiaocheng_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,169}}</string>
                <key>sourceSize</key>
                <string>{632,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gongkexiaocheng_di.png</string>
            <key>size</key>
            <string>{250,679}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:812514cf9f533dc9da896e7017d77a3b$</string>
            <key>textureFileName</key>
            <string>effect_gongkexiaocheng_di.png</string>
        </dict>
    </dict>
</plist>
