<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_finger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{111,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,123}}</string>
                <key>sourceSize</key>
                <string>{111,123}</string>
            </dict>
            <key>effect_finger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{160,160}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>effect_finger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>effect_finger_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{32,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_finger.png</string>
            <key>size</key>
            <string>{221,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500eb62270f2942cc50dbb7b5b7eda15$</string>
            <key>textureFileName</key>
            <string>effect_finger.png</string>
        </dict>
    </dict>
</plist>
