<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fail_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{286,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,282}}</string>
                <key>sourceSize</key>
                <string>{286,282}</string>
            </dict>
            <key>effect_fail_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{346,299}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{346,299}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,626},{342,293}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{342,293}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{344,313}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{344,313}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,692},{336,327}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{336,327}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,295},{346,329}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{346,329}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,333}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{354,333}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1359},{324,331}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{324,331}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{330,331}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{330,331}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,921},{338,295}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{338,295}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,348},{342,311}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{342,311}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{334,323}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{334,323}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1218},{332,325}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{332,325}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1545},{330,329}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{330,329}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1030},{332,327}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{332,327}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{338,331}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{338,331}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
            <key>effect_fail_fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{348,291}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{348,291}}</string>
                <key>sourceSize</key>
                <string>{368,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fail_fire.png</string>
            <key>size</key>
            <string>{1023,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263dc1f372ffb07fc76c2a4b38acdea3$</string>
            <key>textureFileName</key>
            <string>effect_fail_fire.png</string>
        </dict>
    </dict>
</plist>
