<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxiangkuang_dadao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,189},{15,14}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{15,14}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{35,34}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,50},{35,34}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{31,24}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,60},{31,24}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,114},{27,16}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,68},{27,16}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{1,2}}</string>
                <key>offset</key>
                <string>{-16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,77},{1,2}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,110}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{112,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,189},{17,16}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{17,16}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,189},{19,18}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{25,40}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{25,40}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,114},{31,46}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{31,46}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{33,32}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{33,32}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,174},{33,40}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,33},{33,40}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{39,46}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{39,46}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>effect_touxiangkuang_dadao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,147},{41,40}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{41,40}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxiangkuang_dadao.png</string>
            <key>size</key>
            <string>{128,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe944c1f520086474003fd7d91471fc1$</string>
            <key>textureFileName</key>
            <string>effect_touxiangkuang_dadao.png</string>
        </dict>
    </dict>
</plist>
