<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanma_xingxingzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,10}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanma_xingxingzi.png</string>
            <key>size</key>
            <string>{15,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a31498b2d82691479b8d7a828db46449$</string>
            <key>textureFileName</key>
            <string>effect_zhanma_xingxingzi.png</string>
        </dict>
    </dict>
</plist>
