<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,253}}</string>
                <key>sourceSize</key>
                <string>{254,253}</string>
            </dict>
            <key>effect_chouka_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{155,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,188}}</string>
                <key>sourceSize</key>
                <string>{155,188}</string>
            </dict>
            <key>effect_chouka_guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,257},{147,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,110}}</string>
                <key>sourceSize</key>
                <string>{147,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_guang.png</string>
            <key>size</key>
            <string>{271,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8cfcd8449c9092f8a7a9f49bfda4346$</string>
            <key>textureFileName</key>
            <string>effect_chouka_guang.png</string>
        </dict>
    </dict>
</plist>
