<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangyangcheng_bgz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,112}}</string>
                <key>sourceSize</key>
                <string>{39,112}</string>
            </dict>
            <key>effect_jinjiangyangcheng_bgz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{39,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,399}}</string>
                <key>sourceSize</key>
                <string>{39,399}</string>
            </dict>
            <key>effect_jinjiangyangcheng_bgz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,43},{40,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,361}}</string>
                <key>sourceSize</key>
                <string>{40,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangyangcheng_bgz.png</string>
            <key>size</key>
            <string>{116,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4324cef0e4879162df712d8a26d652f8$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangyangcheng_bgz.png</string>
        </dict>
    </dict>
</plist>
