<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_mingjiangling_tongguan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{98,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_mingjiangling_tongguan.png</string>
            <key>size</key>
            <string>{102,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f779c7a99fc8fcc3c7c5af3f5cbb01c$</string>
            <key>textureFileName</key>
            <string>effect_mingjiangling_tongguan.png</string>
        </dict>
    </dict>
</plist>
