<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gongchengmenzhandou_huoqui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>effect_gongchengmenzhandou_huoqui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{12,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,90}}</string>
                <key>sourceSize</key>
                <string>{12,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_gongchengmenzhandou_huoqui.png</string>
            <key>size</key>
            <string>{64,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56619a83cb76b5b998f7790b411de265$</string>
            <key>textureFileName</key>
            <string>effect_gongchengmenzhandou_huoqui.png</string>
        </dict>
    </dict>
</plist>
