<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_herolevelup_qizi2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,103}}</string>
                <key>sourceSize</key>
                <string>{210,103}</string>
            </dict>
            <key>effect_herolevelup_qizi2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_herolevelup_qizi2.png</string>
            <key>size</key>
            <string>{214,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d686788ddbcc39b21d6b0341ba03a50b$</string>
            <key>textureFileName</key>
            <string>effect_herolevelup_qizi2.png</string>
        </dict>
    </dict>
</plist>
