<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu8_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,134}}</string>
                <key>sourceSize</key>
                <string>{187,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu8_logo.png</string>
            <key>size</key>
            <string>{191,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c67e93f0adbb47f8d268da5ac5df9087$</string>
            <key>textureFileName</key>
            <string>effect_denglu8_logo.png</string>
        </dict>
    </dict>
</plist>
