<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zhanma_guangzise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,204}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{12,204}}</string>
                <key>sourceSize</key>
                <string>{16,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_zhanma_guangzise.png</string>
            <key>size</key>
            <string>{16,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b3811ebf400ff280d642f09e3c7fd0$</string>
            <key>textureFileName</key>
            <string>effect_zhanma_guangzise.png</string>
        </dict>
    </dict>
</plist>
