<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nanman_huoyan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{81,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{81,85}}</string>
                <key>sourceSize</key>
                <string>{115,93}</string>
            </dict>
            <key>effect_nanman_huoyan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,263},{80,85}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{80,85}}</string>
                <key>sourceSize</key>
                <string>{114,95}</string>
            </dict>
            <key>effect_nanman_huoyan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{81,88}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{81,88}}</string>
                <key>sourceSize</key>
                <string>{119,96}</string>
            </dict>
            <key>effect_nanman_huoyan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{84,92}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{84,92}}</string>
                <key>sourceSize</key>
                <string>{122,104}</string>
            </dict>
            <key>effect_nanman_huoyan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,86},{89,90}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{89,90}}</string>
                <key>sourceSize</key>
                <string>{121,106}</string>
            </dict>
            <key>effect_nanman_huoyan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{82,93}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{82,93}}</string>
                <key>sourceSize</key>
                <string>{124,101}</string>
            </dict>
            <key>effect_nanman_huoyan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,98}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{82,98}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>effect_nanman_huoyan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,177},{84,86}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nanman_huoyan.png</string>
            <key>size</key>
            <string>{197,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7579c50a4c496e51ad7b1bf98420f0f6$</string>
            <key>textureFileName</key>
            <string>effect_nanman_huoyan.png</string>
        </dict>
    </dict>
</plist>
