<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiangbreak_jiantou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,135}}</string>
                <key>sourceSize</key>
                <string>{23,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiangbreak_jiantou.png</string>
            <key>size</key>
            <string>{27,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af7e843f695d7e0508ca31881dc2f4fb$</string>
            <key>textureFileName</key>
            <string>effect_wujiangbreak_jiantou.png</string>
        </dict>
    </dict>
</plist>
