<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiangtupo_ningju_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{80,79}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,20},{80,79}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{162,203}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{162,203}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{156,201}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{156,201}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,203}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{158,203}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{160,205}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,207},{160,173}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{160,173}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{166,153}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{166,153}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,382},{164,127}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{164,127}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,170},{160,119}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,90},{160,119}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,382},{162,115}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,94},{162,115}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,546},{158,105}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,104},{158,105}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,545},{84,93}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{84,93}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,332},{138,73}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,136},{138,73}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,472},{126,71}}</string>
                <key>offset</key>
                <string>{15,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,138},{126,71}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,170},{82,73}}</string>
                <key>offset</key>
                <string>{35,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,136},{82,73}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,706},{84,95}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{84,95}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,706},{84,101}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,8},{84,101}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,816},{148,195}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{148,195}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,820},{156,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{156,199}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{162,201}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{162,201}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,617},{166,197}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{166,197}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
            <key>effect_wujiangtupo_ningju_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{160,201}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{160,201}}</string>
                <key>sourceSize</key>
                <string>{166,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiangtupo_ningju.png</string>
            <key>size</key>
            <string>{560,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e799962970ff8810656f02e56c6c1611$</string>
            <key>textureFileName</key>
            <string>effect_wujiangtupo_ningju.png</string>
        </dict>
    </dict>
</plist>
