<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu8_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,121}}</string>
                <key>sourceSize</key>
                <string>{158,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu8_logo.png</string>
            <key>size</key>
            <string>{125,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1860c288ab1b52ef9ed2a0e279f85325$</string>
            <key>textureFileName</key>
            <string>effect_denglu8_logo.png</string>
        </dict>
    </dict>
</plist>
