<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shouchong_wuqi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{96,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,156}}</string>
                <key>sourceSize</key>
                <string>{98,156}</string>
            </dict>
            <key>effect_shouchong_wuqi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,81},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,76}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>effect_shouchong_wuqi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{71,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{71,64}}</string>
                <key>sourceSize</key>
                <string>{81,66}</string>
            </dict>
            <key>effect_shouchong_wuqi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,376},{75,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>effect_shouchong_wuqi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,374},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>effect_shouchong_wuqi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{61,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{63,77}</string>
            </dict>
            <key>effect_shouchong_wuqi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,459},{50,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>effect_shouchong_wuqi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,374},{49,79}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,79}}</string>
                <key>sourceSize</key>
                <string>{51,81}</string>
            </dict>
            <key>effect_shouchong_wuqi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>effect_shouchong_wuqi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,474},{31,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{31,45}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>effect_shouchong_wuqi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,159},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>effect_shouchong_wuqi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{60,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,96}}</string>
                <key>sourceSize</key>
                <string>{64,100}</string>
            </dict>
            <key>effect_shouchong_wuqi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,218},{152,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{152,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>effect_shouchong_wuqi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,214}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,214}}</string>
                <key>sourceSize</key>
                <string>{124,222}</string>
            </dict>
            <key>effect_shouchong_wuqi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,188},{14,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,27}</string>
            </dict>
            <key>effect_shouchong_wuqi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,455},{41,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_shouchong_wuqi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,462},{46,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>effect_shouchong_wuqi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,146},{68,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>effect_shouchong_wuqi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,75},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shouchong_wuqi.png</string>
            <key>size</key>
            <string>{272,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a227bf6be25ab348334bbaf91cc4db87$</string>
            <key>textureFileName</key>
            <string>effect_shouchong_wuqi.png</string>
        </dict>
    </dict>
</plist>
