<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinnang_qisha_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{70,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,4}}</string>
                <key>sourceSize</key>
                <string>{70,4}</string>
            </dict>
            <key>effect_jinnang_qisha_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{77,67}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,73},{77,67}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{77,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,142},{75,67}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{75,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,207},{69,67}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{69,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{49,67}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{49,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,327},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,329},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,327},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,278},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,276},{49,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{49,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{49,65}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{49,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,211},{69,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{69,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{75,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{75,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{77,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{77,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,73},{77,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{77,65}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{77,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>effect_jinnang_qisha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{77,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinnang_qisha.png</string>
            <key>size</key>
            <string>{245,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26dce01af8a0d0ffcda51e5a8d993924$</string>
            <key>textureFileName</key>
            <string>effect_jinnang_qisha.png</string>
        </dict>
    </dict>
</plist>
