<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_touxian_duijiudangerensjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,198},{20,20}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{46,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,117},{61,20}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{61,20}}</string>
                <key>sourceSize</key>
                <string>{93,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,51},{50,20}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{76,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,139},{30,20}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,220},{17,20}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{182,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,30}}</string>
                <key>sourceSize</key>
                <string>{182,30}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,73},{46,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,187},{66,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,117},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,117},{37,20}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{63,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,107},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,117},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,117},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,117},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{84,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,22}}</string>
                <key>sourceSize</key>
                <string>{84,22}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,71}}</string>
                <key>sourceSize</key>
                <string>{196,71}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,198},{55,20}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{79,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,167},{60,20}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{96,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,180},{60,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{60,20}}</string>
                <key>sourceSize</key>
                <string>{112,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,198},{56,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{56,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,192},{62,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,183},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
            <key>effect_touxian_duijiudangerensjh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,139},{57,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{109,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_touxian_duijiudangerensjh.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93b89a870d860166326b34f368f22c1a$</string>
            <key>textureFileName</key>
            <string>effect_touxian_duijiudangerensjh.png</string>
        </dict>
    </dict>
</plist>
