<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuafuboss_yunleng1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{867,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,343}}</string>
                <key>sourceSize</key>
                <string>{867,343}</string>
            </dict>
            <key>effect_kuafuboss_yunleng1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{779,307}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,307}}</string>
                <key>sourceSize</key>
                <string>{785,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuafuboss_yunleng1.png</string>
            <key>size</key>
            <string>{871,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf03968df0dec4a4947de7ae77fa30e$</string>
            <key>textureFileName</key>
            <string>effect_kuafuboss_yunleng1.png</string>
        </dict>
    </dict>
</plist>
