<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ssr_hongur2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,106}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,106}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,110},{286,132}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{286,132}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,244},{274,118}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{274,118}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{282,124}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{282,124}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,126}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,126}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,320},{272,98}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{272,98}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,216},{284,102}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{284,102}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,110},{292,104}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{292,104}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{296,106}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{296,106}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,364},{232,98}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{232,98}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{204,102}}</string>
                <key>offset</key>
                <string>{-40,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{204,102}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,420},{216,108}}</string>
                <key>offset</key>
                <string>{-32,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{216,108}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{288,116}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{288,116}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{288,118}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{288,118}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,292},{246,116}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{246,116}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>effect_ssr_hongur2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{264,120}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{264,120}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ssr_hongur2.png</string>
            <key>size</key>
            <string>{1024,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb552fbc78306991bcc73b3c11c09db0$</string>
            <key>textureFileName</key>
            <string>effect_ssr_hongur2.png</string>
        </dict>
    </dict>
</plist>
