<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_nianyefan_fish_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>effect_nianyefan_fish_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_nianyefan_fish.png</string>
            <key>size</key>
            <string>{88,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f927559bbfdbdef18509cf80e49d18e$</string>
            <key>textureFileName</key>
            <string>effect_nianyefan_fish.png</string>
        </dict>
    </dict>
</plist>
