<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_shenshou_taizi6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{82,97}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{82,97}}</string>
                <key>sourceSize</key>
                <string>{94,111}</string>
            </dict>
            <key>effect_shenshou_taizi6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shenshou_taizi6.png</string>
            <key>size</key>
            <string>{171,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957e1a07d1383b6b110a7d6ccc1404c9$</string>
            <key>textureFileName</key>
            <string>effect_shenshou_taizi6.png</string>
        </dict>
    </dict>
</plist>
