<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_hulaoguanguanqia_yezhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_hulaoguanguanqia_yezhu.png</string>
            <key>size</key>
            <string>{105,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cfa84b402626b168b6f50405d782d9$</string>
            <key>textureFileName</key>
            <string>effect_hulaoguanguanqia_yezhu.png</string>
        </dict>
    </dict>
</plist>
