<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fail_huoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,12}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fail_huoxing.png</string>
            <key>size</key>
            <string>{16,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46a4517035f9d7adb50047cef7cebf64$</string>
            <key>textureFileName</key>
            <string>effect_fail_huoxing.png</string>
        </dict>
    </dict>
</plist>
