<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chuangjueui_zinv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{148,128}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{148,128}}</string>
                <key>sourceSize</key>
                <string>{182,138}</string>
            </dict>
            <key>effect_chuangjueui_zinv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{200,132}}</string>
                <key>sourceSize</key>
                <string>{228,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chuangjueui_zinv.png</string>
            <key>size</key>
            <string>{204,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d055f496385d1b81006cf9884dcdc80e$</string>
            <key>textureFileName</key>
            <string>effect_chuangjueui_zinv.png</string>
        </dict>
    </dict>
</plist>
