<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>effect_chouka_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,167}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{180,167}}</string>
                <key>sourceSize</key>
                <string>{190,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_7.png</string>
            <key>size</key>
            <string>{229,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1475d62068bfc0d3bc4dcfdb80fc9e7e$</string>
            <key>textureFileName</key>
            <string>effect_chouka_7.png</string>
        </dict>
    </dict>
</plist>
