<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_choujiang_star_6_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{47,244}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{47,244}}</string>
                <key>sourceSize</key>
                <string>{61,256}</string>
            </dict>
            <key>effect_choujiang_star_6_z_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{124,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>effect_choujiang_star_6_z_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,163}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{252,163}}</string>
                <key>sourceSize</key>
                <string>{256,165}</string>
            </dict>
            <key>effect_choujiang_star_6_z_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,51},{235,140}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{235,140}}</string>
                <key>sourceSize</key>
                <string>{239,144}</string>
            </dict>
            <key>effect_choujiang_star_6_z_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,336},{209,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,114}}</string>
                <key>sourceSize</key>
                <string>{209,114}</string>
            </dict>
            <key>effect_choujiang_star_6_z_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{227,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,167}}</string>
                <key>sourceSize</key>
                <string>{227,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_choujiang_star_6_z.png</string>
            <key>size</key>
            <string>{502,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bff464ec0143e26484b680ac46410dd$</string>
            <key>textureFileName</key>
            <string>effect_choujiang_star_6_z.png</string>
        </dict>
    </dict>
</plist>
