<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_benpaojiesuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{570,67}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{570,67}}</string>
                <key>sourceSize</key>
                <string>{580,71}</string>
            </dict>
            <key>effect_benpaojiesuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{572,19}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,11},{572,19}}</string>
                <key>sourceSize</key>
                <string>{922,43}</string>
            </dict>
            <key>effect_benpaojiesuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,103}}</string>
                <key>sourceSize</key>
                <string>{441,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_benpaojiesuan.png</string>
            <key>size</key>
            <string>{128,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18cc366c98fa423208fe498279808736$</string>
            <key>textureFileName</key>
            <string>effect_benpaojiesuan.png</string>
        </dict>
    </dict>
</plist>
