<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_guanxing_xuanwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,438}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{520,438}}</string>
                <key>sourceSize</key>
                <string>{524,438}</string>
            </dict>
            <key>effect_guanxing_xuanwu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,411},{488,412}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{488,412}}</string>
                <key>sourceSize</key>
                <string>{524,438}</string>
            </dict>
            <key>effect_guanxing_xuanwu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{496,407}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{496,407}}</string>
                <key>sourceSize</key>
                <string>{500,407}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_guanxing_xuanwu.png</string>
            <key>size</key>
            <string>{1022,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1297b046084b1ea3720904049b22f02f$</string>
            <key>textureFileName</key>
            <string>effect_guanxing_xuanwu.png</string>
        </dict>
    </dict>
</plist>
