<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuangzhan_guangxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{74,94}}</string>
                <key>sourceSize</key>
                <string>{78,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuangzhan_guangxian.png</string>
            <key>size</key>
            <string>{78,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6279c09c97ee10ac58f357bc9f78eb72$</string>
            <key>textureFileName</key>
            <string>effect_kuangzhan_guangxian.png</string>
        </dict>
    </dict>
</plist>
