<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_herolevelup_littlestar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>effect_herolevelup_littlestar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>effect_herolevelup_littlestar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_herolevelup_littlestar.png</string>
            <key>size</key>
            <string>{58,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ae9fbc2c604858089dff04ed2a4f04d$</string>
            <key>textureFileName</key>
            <string>effect_herolevelup_littlestar.png</string>
        </dict>
    </dict>
</plist>
