<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kuangzhan_yinkuangdui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{137,116}}</string>
                <key>sourceSize</key>
                <string>{139,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kuangzhan_yinkuangdui.png</string>
            <key>size</key>
            <string>{120,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a8967842cd561c996deb96d7b174b5$</string>
            <key>textureFileName</key>
            <string>effect_kuangzhan_yinkuangdui.png</string>
        </dict>
    </dict>
</plist>
