<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fengyiting_lingdang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,47}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fengyiting_lingdang3.png</string>
            <key>size</key>
            <string>{25,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47563992d623075918e6dfa650127af9$</string>
            <key>textureFileName</key>
            <string>effect_fengyiting_lingdang3.png</string>
        </dict>
    </dict>
</plist>
