<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_kabao_red_z_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,225}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{199,225}}</string>
                <key>sourceSize</key>
                <string>{235,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_kabao_red_z.png</string>
            <key>size</key>
            <string>{203,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fbd60162c4b3b5c28dc80a021f7948d$</string>
            <key>textureFileName</key>
            <string>effect_kabao_red_z.png</string>
        </dict>
    </dict>
</plist>
