<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_taoyuanguanqia_shuiwu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,133}}</string>
                <key>sourceSize</key>
                <string>{185,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_taoyuanguanqia_shuiwu.png</string>
            <key>size</key>
            <string>{189,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9184b03be2a6716ad01d5e58e62b6255$</string>
            <key>textureFileName</key>
            <string>effect_taoyuanguanqia_shuiwu.png</string>
        </dict>
    </dict>
</plist>
