<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,417},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,280},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{161,139}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,139}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{161,139}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,139}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,139}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,139}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{161,137}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,137}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,280},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,143},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
            <key>effect_jinjiangzhaomu_dianjiang_qingseguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,143},{161,135}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{161,135}}</string>
                <key>sourceSize</key>
                <string>{161,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jinjiangzhaomu_dianjiang_qingseguang.png</string>
            <key>size</key>
            <string>{491,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c88c6ea91bc2d700ae70515560ca2fa$</string>
            <key>textureFileName</key>
            <string>effect_jinjiangzhaomu_dianjiang_qingseguang.png</string>
        </dict>
    </dict>
</plist>
