<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_icon_equip_tou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{60,17}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{60,17}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{70,35}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,47},{68,25}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,25}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{62,25}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,51},{62,25}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,74},{62,35}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{62,35}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{62,45}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{62,45}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{66,53}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{66,53}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,57},{66,59}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{66,59}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,59}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,59}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,53}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_icon_equip_tou_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,43}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,43}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_icon_equip_tou.png</string>
            <key>size</key>
            <string>{255,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f5cc0a7abfde24837acd159c6fd5024$</string>
            <key>textureFileName</key>
            <string>effect_icon_equip_tou.png</string>
        </dict>
    </dict>
</plist>
