<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_wujiangtupo_xiaoxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{98,100}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{98,100}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{108,124}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{108,124}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,380},{112,102}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{112,102}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,102},{98,106}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{98,106}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,108}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{98,108}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{104,110}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{104,110}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{102,106}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{102,106}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,244},{106,110}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{106,110}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,126},{86,116}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{86,116}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{90,122}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{90,122}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,128}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{92,128}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,258},{96,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{96,120}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{100,120}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{100,120}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>effect_wujiangtupo_xiaoxing_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{104,122}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{104,122}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_wujiangtupo_xiaoxing.png</string>
            <key>size</key>
            <string>{508,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f44ae1564fabcea6e4cd95d4174c3507$</string>
            <key>textureFileName</key>
            <string>effect_wujiangtupo_xiaoxing.png</string>
        </dict>
    </dict>
</plist>
