<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_jiangbianzhandou_chuan1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,115}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>effect_jiangbianzhandou_chuan1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_jiangbianzhandou_chuan1.png</string>
            <key>size</key>
            <string>{142,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae50f3d008d2f5bb0c6ac0d76f86c5cc$</string>
            <key>textureFileName</key>
            <string>effect_jiangbianzhandou_chuan1.png</string>
        </dict>
    </dict>
</plist>
