<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lingpai_huaxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,236},{74,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{74,94}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>effect_lingpai_huaxian_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,202},{246,18}}</string>
                <key>offset</key>
                <string>{-97,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{246,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,236},{274,18}}</string>
                <key>offset</key>
                <string>{-83,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{274,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,182},{302,18}}</string>
                <key>offset</key>
                <string>{-69,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{302,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,152},{330,18}}</string>
                <key>offset</key>
                <string>{-55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{330,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,132},{358,18}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{358,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{386,18}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{386,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{414,18}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{414,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,18}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{442,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,208},{22,16}}</string>
                <key>offset</key>
                <string>{-180,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,18},{22,16}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,62},{50,20}}</string>
                <key>offset</key>
                <string>{-166,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{50,20}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>effect_lingpai_huaxian_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,312},{78,22}}</string>
                <key>offset</key>
                <string>{-152,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{78,22}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{106,24}}</string>
                <key>offset</key>
                <string>{-138,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{106,24}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,100},{134,26}}</string>
                <key>offset</key>
                <string>{-124,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{134,26}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,72},{162,26}}</string>
                <key>offset</key>
                <string>{-111,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{162,26}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,22},{190,26}}</string>
                <key>offset</key>
                <string>{-97,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{190,26}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,450},{218,28}}</string>
                <key>offset</key>
                <string>{-83,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{218,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,202},{246,28}}</string>
                <key>offset</key>
                <string>{-69,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{246,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{274,28}}</string>
                <key>offset</key>
                <string>{-55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{274,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,152},{302,28}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{302,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,152},{330,28}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,12},{330,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,84},{50,14}}</string>
                <key>offset</key>
                <string>{-194,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{50,14}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,102},{358,28}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{358,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{386,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{386,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{414,28}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{414,28}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,336},{78,14}}</string>
                <key>offset</key>
                <string>{-180,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{78,14}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,100},{106,16}}</string>
                <key>offset</key>
                <string>{-166,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{106,16}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,100},{134,16}}</string>
                <key>offset</key>
                <string>{-152,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{134,16}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,422},{162,18}}</string>
                <key>offset</key>
                <string>{-138,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{162,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,312},{190,18}}</string>
                <key>offset</key>
                <string>{-125,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{190,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
            <key>effect_lingpai_huaxian_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,202},{218,18}}</string>
                <key>offset</key>
                <string>{-111,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{218,18}}</string>
                <key>sourceSize</key>
                <string>{450,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_lingpai_huaxian.png</string>
            <key>size</key>
            <string>{510,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ee6ffe812a400e4676d40beed5ed62a$</string>
            <key>textureFileName</key>
            <string>effect_lingpai_huaxian.png</string>
        </dict>
    </dict>
</plist>
