<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_denglu4_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{288,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{288,248}}</string>
                <key>sourceSize</key>
                <string>{384,308}</string>
            </dict>
            <key>effect_denglu4_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,331}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{371,331}}</string>
                <key>sourceSize</key>
                <string>{399,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_denglu4_logo.png</string>
            <key>size</key>
            <string>{375,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:340f417b987544f05391caca24a39a3d$</string>
            <key>textureFileName</key>
            <string>effect_denglu4_logo.png</string>
        </dict>
    </dict>
</plist>
