<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ui_huoguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,158},{30,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{30,68}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,68},{26,64}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{26,64}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{30,62}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{30,62}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,158},{22,68}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{22,68}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{26,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{26,64}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,190},{30,64}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{30,64}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{50,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>effect_ui_huoguo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{221,154}}</string>
                <key>sourceSize</key>
                <string>{225,160}</string>
            </dict>
            <key>effect_ui_huoguo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,180},{42,38}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_ui_huoguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,182},{30,66}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{30,66}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,214},{30,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{30,52}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{30,50}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{30,50}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,222},{30,48}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{30,48}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,246},{32,26}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{32,26}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,246},{32,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{32,26}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{24,44}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{24,44}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
            <key>effect_ui_huoguo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,134},{26,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{26,44}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ui_huoguo.png</string>
            <key>size</key>
            <string>{254,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e0a1c766911c74a03f93629449fd57$</string>
            <key>textureFileName</key>
            <string>effect_ui_huoguo.png</string>
        </dict>
    </dict>
</plist>
