<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chouka_huode_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,172}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,172}}</string>
                <key>sourceSize</key>
                <string>{95,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_chouka_huode_2.png</string>
            <key>size</key>
            <string>{99,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c22fc66059c83d8698fb2a170755904$</string>
            <key>textureFileName</key>
            <string>effect_chouka_huode_2.png</string>
        </dict>
    </dict>
</plist>
